/* components/StatusDropdown.module.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: white;
  border: 1px solid #ccc;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  width: 66px;
}

.dropdownButton span {
  display: inline-flex;
  align-items: center;
}

.chevron {
  margin-left: auto; /* Push the chevron to the far right */
  transition: transform 0.2s ease;
}

.chevronOpen {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 8px;
  /* padding: 3px;  */
  list-style-type: none;
  margin: 0;
  width: 140px;
  overflow: hidden;
}

.dropdownItem {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: white;
  transition: background-color 0.2s ease;
}

.dropdownItem:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.dropdownItem:hover {
  background-color: #bfe4f1;
}

.dropdownItem span {
  margin-right: 8px;
  color: var(--Grey-Darker, #6d747a);
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.dropdownLabel {
  margin-left: 8px;
}

.hideSelect {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.odd-row {
  background-color: #f8f9fa;
}
