.button {
  background-color: transparent;
  color: rgba(var(--primary-100-rgb));
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 1.8rem;
  border: 1px solid rgba(var(--primary-100-rgb));
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  min-width: 120px;
}

.button:focus {
  outline: 1px solid #ffffff;
  border: 1px solid rgba(var(--primary-100-rgb));
}
.button:focus::before {
  content: '';
  border: 1px solid rgba(var(--primary-100-rgb));
  width: calc(100% + 3px);
  height: calc(100% + 3.8px);
  position: absolute;
  top: -2.8px;
  left: -2px;
  border-radius: 0.5rem;
}

.button:not(:disabled):hover {
  background-color: #F7F5F9;
  color: #8064a2;
}

.button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}
