.container {
    background: #f4f4f4;
    width: 100%;
    padding: 0 5vw;
    min-height: 100vh;
}


.container h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #242429;
    text-align: center;
    width: 800px;
}

.container a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    white-space: nowrap;
    color: #242429;
}

.container a:hover {
    color: #8064a2;
}

.top {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.top .buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.top .buttons ul {
    color: #242429;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    opacity: 0.85;
}

.top .buttons ul:hover {
    color: black;
    opacity: 1;
}

.top img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 40px 15vw;
    gap: 3px;
}

.content a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: gray;
}

.content h2 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
    color: #242429;
    margin: 10px 0;
}

.content p {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #111111;
}

.source {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #2c2828 !important;
    display: flex;
    gap: 4px;
}

.content ul {
    padding-left: 30px;
}

.content ul li {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #111111;
    list-style: disc;
}

.info {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 6px 20px;
}

.info a {
    display: inline;
}

.info img {
    max-height: 370px;
}

.content hr {
    border: 1.5px solid #242429;
}

.info em {
    display: flex;
    gap: 3.5px;
}

.details {
    display: grid;
    width: 100%;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.details p {
    font-size: 13px;
    line-height: 24px;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.categories button {
    padding: 10px 20px;
    border: 1px solid;
    border-color: #d0d1d5;
    font-size: 14px;
    display: block;
    border-radius: 3px;
    -webkit-transition: .1s ease;
    transition: .1s ease;
    cursor: pointer;
}

.categories button:hover {
    background: #8064a2;
    border-color: #8064a2;
    color: #fff;
}

.comment-add {
    width: 100%;
    background: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
    padding: 15px;
}

@media screen and (max-width:1100px) {
    .info {
        grid-template-columns: auto;
    }

    .container h1 {
        font-size: 32px;
        line-height: 45px;
        width: auto;
    }

    .content {
        padding: 20px 5px;
    }

    .info {
        padding: 10px 0;
    }

    .info img {
        height: auto;
        width: 100%;
    }

    .source {
        max-width: 98vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .source a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
    }
}

@media screen and (min-width:1440px) {
    .container {
        padding: 0 calc(50vw - 720px + 72px);
    }
}