.sidebarContainer {
   background: #FFFFFF;
   border: 1px solid #EBEDF0;
   border-radius: 8px;
   padding: 11px 15px;
   width: 229px;
}

.sidebarTitle {
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   margin-bottom: 28px;
   font-weight: 600;
   font-size: 14px;
   line-height: 20px;
   color: var(--Purple-1, #8064a2);
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   line-height: 16px;
}

.text {
   font-family: 'Poppins';
}

.listItem {
   list-style: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: 0.005em;
   margin-bottom: 30px;
   color: #6D747A;
   display: block;
   cursor: pointer;
}
.listItem:last-child{
   margin-bottom: 20px;
}
.listItemSelected{
   color: #8064A2;
}