.loader-wrapper {
  background-color: rgba(0, 0, 0, 0.415);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

/* .loader-wrapper {
  opacity: 0.5;
  top: var(--navbar-height-desktop);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 5;
  backdrop-filter: blur(4px);
} */

.loading-card {
  width: 60px;
  height: 60px;
  background-color: #6c528b;
  animation: loading 1s ease-in-out 0s infinite alternate;
}

@keyframes loading {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  25% {
    transform: scaleX(1) scaleY(0);
  }
  50% {
    transform: scaleX(0) scaleY(0);
  }
  75% {
    transform: scaleX(0) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
