.modal-wrapper {
  background-color: white;
  width: 55rem;
  /* width: 100%; */
  mix-blend-mode: normal;
  border-radius: var(--spacing-8);
}
.modal-heading {
  padding: var(--spacing-16) var(--spacing-24);
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.cropper-wrapper {
  background-color: aliceblue;
  height: max-content;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  align-items: center;
}

.cropper-wrapper .cropper {
  height: 28rem;
}

.cropper-wrapper .save-btn {
  background: #8064a2;
  border-radius: 8px;
  /* padding: var(--spacing-12) var(--spacing-16); */
  min-width: 7rem;
  min-height: 2.5rem;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;

  border: none;
  cursor: pointer;
}
