.container {
  width: 60px;
  height: 60px;
  background-color: #ede6f5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container:hover {
  background-color: #7f63a1;
}

.iconSize {
  width: 16px;
  height: 16px;
}

.iconSize:hover {
  color: white;
}

@media screen and (max-width:1100px) {
  .container {
    width: 40px;
    height: 40px;
    background-color: #ede6f5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
