.container {
  width: 40px;
  height: 40px;
  background-color: '#fff';
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 60px;
}

.container:hover {
  background-color: #8064a2;
}

.iconSize {
  width: 16px;
  height: 16px;
}

.iconSize:hover {
  color: white;
}
