.container {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  right: 30px;
  fill: var(--Grey-white, #FFF);
filter: drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12)) drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36));
box-shadow: 0 5px 33px rgba(0,0,0,.2);
}

.container:hover {
  background-color: #7f63a1;
}
.container:hover path {
  fill: #ffffff !important;
}

.svg-icon {
  width: 16px;
  height: 16px;
}
.svg-icon path {
  fill: #939ca3;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 40px;
    height: 40px;
    background-color: #ede6f5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
