.modal-wrapper {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: white;
  max-width: 490px;
  width: 490px;
  padding: var(--spacing-40);
  padding-top: 30px;
  mix-blend-mode: normal;
  border-radius: var(--spacing-8);
}
