.modal-wrapper {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: white;
  max-width: 490px;
  width: 490px;
  padding: var(--spacing-40);
  padding-top: 30px;
  mix-blend-mode: normal;
  border-radius: var(--spacing-8);
}

@media screen and (max-width: 1100px){
  .modal-wrapper {
    max-width: 1100px;
    height: 100%;
    padding: var(--spacing-24);
    width: 100%;
    border-radius: 8px;
  }
  .modal-hr{
    display: none;
  }

}
  
