.container {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #ced4da !important;
  cursor: pointer;
  
}
.options-container {
   position: absolute;
   top: calc(100% + 4px);
   left: 0;
   width: 100%;
   max-height: 0;
   overflow: hidden;
   transition: 0.2s;
   z-index: 500;
   background-color: white;
   border-radius: 4px;
   box-shadow: 0px 8px 12px 0px rgba(147, 156, 163, 0.12), 0px 0px 2px 0px rgba(147, 156, 163, 0.36);
   margin-bottom: 1rem;
}
.container p{
   color: #6d747a;
   font-size: 14px;
   font-weight: 500;
}
.container p:hover{
  background-color: #f7f5f9;
  border-radius: 8px;
}

.container p.dropdown-value {
  color: #6d747a;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.options-container.active {
  max-height: 600px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px var(--spacing-8);
  flex-direction: row;
  height: 40px;
}
