/* Header */
.header {
  margin: auto;
  display: grid;
  grid-template-columns: 160px auto 160px;
  gap: 24px;
  align-items: flex-end;
  padding-top: 12px;
}

.profile-img-wrapper {
  position: relative;
}
.profile-img-wrapper .img {
  width: 160px;
  height: 160px;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid rgb(var(--primary-100-rgb));
  background-color: rgb(var(--gray-50-rgb), 0.2);
}
.profile-img-wrapper .edit-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: var(--spacing-8);

  /* background: #d9d9d9;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 6px; */
}

.center-container .cover-img-wrapper {
  position: relative;
  height: 309px;
}
.center-container .cover-img-wrapper .img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  border-radius: 8px;
  object-fit: cover;
  background-color: rgb(var(--gray-50-rgb), 0.2);
}
.center-container .cover-img-wrapper .edit-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: var(--spacing-8);
}
.center-container .name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.center-container .tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #08090a;
  margin-top: var(--spacing-12);
}
.center-container .category {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #08090a;
}

.action-btn-wrapper {
  width: 160px;
  height: 160px;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.action-btn-wrapper .action-btn {
  background-color: #f7f5f9;
  border-radius: 8px;
  width: 48px;
  height: 40px;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
}
.action-btn:hover {
  background-color: #ccc1da;
  transition: 0.2s;
}
.action-btn-wrapper .action-btn img {
  border-radius: 8px;
}

.action-btn-dropdown-wrapper {
  position: relative;
}

.makeMyPageButton {
  width: 100%;
  line-height: 16px;
  padding: 12px 24px;
  margin-bottom: var(--spacing-12);
}

/* Navigation Tabs */
.navigation-tabs {
  display: flex;
  margin-left: 391px;
  gap: 38px;
  justify-content: flex-start;
  margin-top: 14px;
  position: sticky;
  min-height: 40px;
}
.navigation-tabs a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #939ca3;
  padding: 10px 5px;
  position: relative;
  min-width: 90px;
  text-align: center;
}
.navigation-tabs a:hover {
  color: #8064a2;
}
.navigation-tabs a.active {
  color: #8064a2;
  font-weight: 600;
}
.navigation-tabs a.active::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #8064a2;
  border-radius: 2px 2px 0px 0px;
}

/* Apply styles when page is scrolled and `small` class is added to `container` */
.container:has(.header).small {
  background-color: white;
  position: fixed;
  top: var(--navbar-height-desktop);
  left: 0;
  right: 0;
  z-index: 5;
  /* transform: translateY(-100%); */
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  opacity: 1;
  /* animation: scroll-in 200ms ease-in-out forwards; */
}
.container:has(.header).small .header {
  grid-template-columns: 60px auto max-content;
  gap: var(--spacing-8);
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ebedf0;
}
.container:has(.header).small .profile-img-wrapper .edit-btn {
  display: none;
}
.container:has(.header).small .profile-img-wrapper .img {
  width: 60px;
  height: 60px;
}
.container:has(.header).small .center-container .cover-img-wrapper {
  display: none;
}
.container:has(.header).small .center-container .name {
  font-size: 1rem;
  margin-top: 0;
}
.container:has(.header).small .center-container .tagline {
  font-size: 14px;
  margin-top: 0;
}
.container:has(.header).small .action-btn-wrapper {
  display: flex;
  width: auto;
  height: auto;
  background-color: transparent;
  gap: var(--spacing-8);
  box-shadow: none;
}

.container:has(.header).small .navigation-tabs {
  margin-top: 0;
  padding-top: 4px;
}

.container:has(.header).small .navigation-tabs a {
  line-height: 22px;
  padding: 8px 5px;
}

.name-container {
  margin-top: 9px;
  display: flex;
  column-gap: 12px;
  align-items: flex-end;

  justify-content: space-between;
}
.name-container .profile-name {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.name-container img {
  cursor: pointer;
}
.dropdown {
  position: absolute;
  top: calc(120%);
  left: calc(-50%);
  z-index: 1501;
  box-shadow: 0px 8px 12px 0px rgba(147, 156, 163, 0.12),
    0px 0px 2px 0px rgba(147, 156, 163, 0.36);
  border-radius: 4px;
  overflow: hidden;
}
.customList {
  list-style: none;
  background: #ffffff;
  min-width: 90px;
}

.customList li {
  width: 90px;
  height: 42px;
  color: #6d747a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
  padding: 12px;
  transition: 0.2s;
}
.contactBtn {
  font-size: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 50px;
  height: 32px;
}
.customList li:hover {
  background-color: #e5e5e5;
  color: #8064a2;
}
@keyframes scroll-in {
  0% {
    /* transform: translateY(-100%); */
    opacity: 0.8;
  }
  100% {
    /* transform: translateY(0%); */
    opacity: 1;
  }
}
.profile-img-wrapper .name-container,
.profile-img-wrapper .tagline {
  display: none;
}
.relative {
  position: relative;
  width: fit-content;
}

@media screen and (max-width: 1100px) {
  .actions-container {
    display: none;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .profile-img-wrapper .name-container,
  .profile-img-wrapper .tagline {
    display: block;
  }
  .center-container .name-container,
  .center-container .tagline {
    display: none;
  }
  .header .center-container {
    order: 1;
  }
  .header .profile-img-wrapper {
    order: 2;
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .profile-img-wrapper .img {
    width: 3.75rem;
    height: 3.75rem;
  }
  .profile-img-wrapper .edit-btn > svg {
    width: 20px;
    height: 20px;
    display: flex;
  }
}
@media screen and (max-width: 1100px) {
  .nav {
    display: flex;
    overflow-x: auto;
    padding: 0 16px;
  }
  .navigation-tabs {
    gap: 0px;
    overflow-x: auto;
    flex-shrink: 0;
  }
  .navigation-tabs > a {
    flex-shrink: 0;
  }
  .navigation-tabs a {
    font-size: 12px;
    padding: 10px 0;
    min-width: 56px;
  }
}
