.main-container {
  background-color: #f2f0f5;
}

.all button:focus-visible {
  outline: #8064a2 2px solid;
  border: white 1px solid;
}

.editInput {
  margin: auto;
  width: 100%;
  border: none;
  outline: none;
  display: block;
  resize: none;
  overflow: hidden;
}

.blog-container {
  max-width: 1240px;
  display: grid;
  display: flex;
  margin: auto;
  column-gap: 24px;
}

.no-posts-div {
  max-width: 508px;
  width: 100%;
  min-width: 250px;
  position: relative;
  max-height: 329px;
  height: 100%;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-post-text {
  font-size: 14px;
    font-weight: 500;
    color: #6d747a;

}

.container {

  max-width: 1296px;
  margin: 0 auto;
  background-color: #f2f0f5;
  padding-top: 12px;
  display: flex;
}
.container {
  max-width: 1016px;
  width: 100%;
  margin: 0 auto;
}
.filterContainer {
  max-width: 229px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  height: 90vh;
  position: sticky;
  top: calc(var(--navbar-height-desktop) + var(--spacing-12));
  margin-bottom: var(--spacing-12);
}

.gridContainer {
  margin: 0 auto;
  max-width: 1016px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 12px;
  column-gap: 24px;
}
.blog-header {
  max-width: 872px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 24px;
}
.wrapper {
  position: relative;
}
.buttonWrapper {
  border: none;
  background: none;
  width: 57px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Primary-Full, #8064a2);
  position: absolute;
  top: 5px;
  right: -81px;
}
.buttonWrapper button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonWrapper button svg {
  border: none;
  background: none;
}
.blog-title {
  flex-grow: 1;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  text-align: center;
  margin-bottom: 12px;
}

.blog-desc {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #6d747a;
  margin-bottom: 24px;
}

.blogContainerParent {
  background-color: #f8f9fa;
  padding-block: 12px;
}

.blogWrapper {
  background-color: white;
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--Grey-Lighter, #ebedf0);
  overflow: hidden;
}

.blogContent {
  /* border-radius: 8px 8px 0px 0px;
  border: 1px solid var(--Grey-Lighter, #ebedf0);
  border-bottom: none; */
  background: var(--Base-White, #fff);
  padding: 18px 24px;
}

.profileAndComment {
  padding-inline: 24px;
}

.blogEditor {
  display: flex;
  flex-direction: column;
}

.blogContent img {
  max-width: 100%;
}

.blogContent ol,
.blogContent ul {
  color: var(--Grey-Darkest, #08090a);
  font-family: Cambria;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  padding-left: 4px;
  margin-bottom: 11px;
}

.blogContent ol li,
.blogContent ul li {
  margin-left: 27px;
}

.blogContent a {
  color: rgb(128, 100, 162) !important;
  text-decoration: none !important;
}

.blogContent p {
  color: var(--Grey-Darkest, #08090a);
  font-family: Cambria;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 11px;
}

.blogContent h2 {
  color: var(--Grey-Darkest, #08090a);
  font-family: Poppins;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.blogContent h1 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.blogButtons {
  width: fit-content;
  margin-top: 12px;
  margin-left: auto;
  display: flex;
  gap: 16px;
  padding-right: 24px;
}

.blogButtons button {
  width: 83px;
}

.cover-image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 34.5px;
  width: 100%;
  height: 296px;
  position: relative;
  cursor: pointer;
}

.cover-image span {
  display: inline-flex;
  position: absolute;
  bottom: 0;
  right: 8px;
  z-index: 2;
}

.coverPic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 2;
}

.coverBlur {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(10px);
}

.flex-container {
  display: flex;
}

.author-wrapper {
  display: flex;
  gap: 24px;
}

.author-profile-image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px;
  border: 1px solid #8064a2;
}

.author-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.author-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-name {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  margin-bottom: 11px;
  color: #6d747a;
}

.date-and-hobbies {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6d747a;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.date-and-hobbies > span {
  color: #8064a2;
}

.desktopActions {
  margin: auto 0 0 auto;
}

.actions {
  display: flex;
  gap: 12px;
  margin: auto 0 0 auto;
}

.actions > button,
.btn {
  width: 48px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

@keyframes fadeDownWithScale {
  from {
    opacity: 0;
    transform: translate3d(10px, -20px, 0);
    scale: 0.8;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    scale: 1;
  }
}

.menu {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 50px;
  min-width: 100px;
  background: white;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 8px 12px 0px rgba(147, 156, 163, 0.12),
    0px 0px 2px 0px rgba(147, 156, 163, 0.36);
  animation: fadeDownWithScale 0.3s ease forwards;
}

.menu button {
  width: 100%;
  padding: 11px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  text-align: left;
  color: var(--Grey-Darker, #6d747a);
  border-radius: 4px;

  /* Text sm/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
}

.menu button:hover {
  background: rgba(128, 100, 162, 0.25);
}

.quill > * {
  background-color: white;
}

.quill .ql-container {
  border-top: 1px solid #ccc;
  width: 100%;
  max-width: none !important;
}

.quill .ql-editor {
  width: 100%;
  padding-right: 15px !important;
}

.ql-editor table,
.blogContent table {
  border: none;
  border-collapse: collapse;
  width: 100%;

  color: var(--Grey-Darkest, #08090a);
  font-family: Cambria;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ql-editor tr,
.blogContent tr {
  border: none;
}

.ql-editor td,
.blogContent td {
  border: 1px solid black;
  padding: 15px;
}

.ql-editor figure,
.blogContent figure,
.blogContent img,
.ql-editor img {
  display: block;
  margin: 11px auto;
}

.ql-editor figcaption,
.blogContent figcaption {
  text-align: center;
  color: var(--Grey-Darkest, #08090a);
  font-family: Poppins;
  font-size: 16px !important;
  font-style: normal;
  line-height: 24px;
}

.ql-editor.ql-indent-1 {
  padding-left: 4px;
}

.ql-editor ul,
.ql-editor ol {
  color: var(--Grey-Darkest, #08090a);
  font-family: Cambria;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 4px;
  margin-bottom: 11px;
}

.ql-editor a {
  color: rgb(128, 100, 162);
  text-decoration: none !important;
}
.ql-editor p {
  color: var(--Grey-Darkest, #08090a);
  font-family: Cambria;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 11px;
}
.ql-editor h2 {
  color: var(--Grey-Darkest, #08090a);
  font-family: Poppins;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.ql-editor h1 {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.comment-container {
  /* width: 872px; */
  margin-top: 40.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.profile-wrapper {
  /* width: 872px; */
  margin-left: auto;
  margin-right: auto;
}

.comment {
  /* margin: 0 40px; */
  width: 100%;
}

.header-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  gap: 24px;
}
.title {
  gap: 12px;
  display: grid;
}
.profile-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #6d747a;
}
.header-user > .title > p:last-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #6d747a;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid var(--Primary-Full, #8064a2);
  object-fit: contain;
}

.hobby-list {
  padding: 16px 0px 40px 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-16);
  column-gap: var(--spacing-8);
  animation: fadeDown 0.3s ease forwards;
}

.hobby-list li {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* display: flex;
     align-items: flex-end; */
  letter-spacing: -0.01em;
  color: #8064a2;
}

.hobby-list a {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #8064a2;
}

.hobby-list li.active {
  color: #8064a2;
  font-weight: 500;
}

.line-with-icon {
  width: 100%;
  height: 2px;
  border: 2px #ced4da solid;
  position: relative;
}

.line-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1100px) {
  .buttonWrapper {
    position: static;
    margin-left: auto;
    margin-bottom: 5px;
  }

  .blogWrapper {
    border-radius: 0;
  }

  .author-name {
    font-size: 16px;
    margin-bottom: 0;
  }

  .blogContent {
    padding: 16px;
    border-radius: 0;
  }

  .container {
    background-color: #ebedf0;
  }
  .comment-container {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 16px; */
  }

  .profile-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* .comment {
    margin: 0 16px;
  } */

  .header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 12px 16px; */
    gap: 24px;
  }
}


.gridContainer {
  margin: 0 auto;
  max-width: 1296px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 24px;
}


@media (max-width: 1100px) {
  .blogButtons {
    padding-right: 16px;
  }

  .profileAndComment {
    padding: 16px;
  }

  .actions {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 6px;
    margin-bottom: 12px;
    width: 100%;
    justify-content: center;
  }

  .cover-image {
    height: 109.33px;
    margin-bottom: 8px;
  }

  .gridContainer {
    background-color: #ebedf0;
    row-gap: 8px;
  }

  .flex-container {
    display: block;
  }

  .author-wrapper {
    gap: 8px;
  }

  .blog-header {
    margin: 0 16px 0 16px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 5px;
  }

  .blog-title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.12px;
    text-align: center;
    /* margin-bottom: 5px; */
  }

  .blog-desc {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.21px;
    text-align: center;
    margin-bottom: 8px;
  }

  .res {
    margin-top: 12px;
    margin-bottom: 12px;
    display: block;
  }

  .comment_button {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #8064a2;
    background-color: transparent;
    width: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8064a2;
    border-radius: 8px;
    margin: 0;
  }
}
