.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
}
.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
  padding-bottom: 8px;
}
.modal-wrapper .footer {
  padding: var(--spacing-16) var(--spacing-24);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-32);
  position: relative;
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  /* all: unset; */
  background: #f8f9fa;
  /* Grey/Lighter */

  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: var(--spacing-12);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* color: #878c90; */
  min-width: 6.25rem;
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
  outline: 1px solid rgb(var(--primary-10-rgb));
}
.input-box:has(input[required]) label.label-required::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

.input-box .helper-text {
  position: absolute;
  top: calc(100% + var(--spacing-4));
  left: 0;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #c0504d;
}

/* General Profile */
.year-gender-wrapper {
  display: flex;
  justify-content: space-between;
}
.gender-radio-btns {
  display: flex;
  gap: var(--spacing-32);
  height: 100%;
}
.gender-radio-btns p {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6d747a;
  cursor: pointer;
}
.gender-radio-btns input {
  display: none;
}

.profile-url-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  position: relative;
}
.profile-url-input span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--spacing-12);
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #6d747a;
}
.profile-url-input input {
  flex-grow: 1;
}
.input-box-error input {
  border: 1px solid #c0504d !important;
}
@media screen and (min-width: 1100px) {
  .modal-wrapper{
    max-height: calc(100vh - 6rem);

  }
  .modal-wrapper .body {
    height: 485px;
    overflow: auto;
  }
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-24);

}
.gender-box{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  position: relative;
}

.gender-box label{
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}

.modal-close-icon {
  position: absolute;
  top: var(--spacing-12);
  right: var(--spacing-12);
  cursor: pointer;
  border-radius: 100%;
  padding: var(--spacing-2);
  z-index: 10;
}
.modal-close-icon:hover {
  background: #ddd;
}

.Back-btn{
  display: none;
}

@media screen and (max-width: 1100px) {
  .modal-wrapper {
    max-width: 1100px;
    width: auto;
    max-height: 100%;
    height: 100%;
  }
  .modal-wrapper .body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .year-gender-wrapper {
    column-gap: 8px;
  }
  .gender-radio-btns {
    gap: 1rem;
  }
  .next-genral-btn{
    padding-left: auto;

    --bg-color: rgb(var(--white-rgb)) !important;
    --color: rgb(var(--primary-100-rgb)) !important
  }
  
}
.modal-wrapper {

  height: 93.5%;
  display: flex;
  flex-direction: column;
}

.modal-wrapper .footer {
  position: sticky;
  bottom: 0; 
  z-index: 10; 
  
}
