.image {
  height: 100%;
  width: 450px;
  overflow: hidden;
  cursor: pointer;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.image video {
  width: 100%;
  height: 200px;
}
.image iframe {
  width: 100%;
  height: 100%;
}

.uploadContainer {
  display: flex;
  margin: 0 auto;
  margin-top: 0rem;
}
.uploadContainer > div {
  flex: 1;
}
.uploadButton {
  padding: 16px;
  height: 88px;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.uploadButton:nth-child(1) {
  margin-right: 8px;
}
.editIcon {
  padding: 2px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.video {
  width: 100%;
}
.medias {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 20px 10px;
}
.medias img,
.medias video {
  flex-basis: 50%;
}
.nav-mobile {
  display: none;
}

/* Blogs section css Start */
.pages-container {
  margin-top: var(--spacing-16);
  display: grid;
  grid-template-columns: 50% 50%; /* Two equal-width columns */
  gap: var(--spacing-16); /* Gap between grid items */
}
.no-posts-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}
.no-store-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  margin-top: var(--spacing-12);
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-posts-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}
/* Blogs section css End */

.display-mobile {
  display: none !important;
}

.display-none {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .medias {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: auto;
  }
  .nav-mobile {
    display: initial;
    margin: 0 0 8px 0;
    padding: 10px 0 0 0;
    background-color: #ffffff;
  }
  .pages-container {
    margin-top: var(--spacing-16);
    display: grid;
    grid-template-columns: 100%; /* Two equal-width columns */
    gap: var(--spacing-16); /* Gap between grid items */
  }
  .display-mobile {
    display: initial !important;
  }
}
