.main{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 12px;
  column-gap: 24px;
}

.main-media {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
}

.uploadVideoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Grey-Lighter, #EBEDF0);
  background: var(--Base-White, #FFF);
}

.uploadContainer{
  grid-column: span 2;
    display: grid;
    gap: 24px;
    grid-template-columns: 50% 50%;
width: 100%;
}

.videos {
  height: 100%;
  border-radius: 8px;
}

.image {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.image img {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  height: auto;
}
.image video {
  width: 100%;
  height: 200px;
}
.image iframe {
  width: 100%;
  height: 100%;
}
.dual-section-wrapper {
  display: flex;
  gap: 24px;
  align-items: start;
}

.three-section-wrapper {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  align-items: start;
  row-gap: 12px;
}

.uploadContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: 50% 50%;
}

.uploadContainer>div {
  flex: 1;
}

.profile-left-aside {
  position: -webkit-sticky;
  top: 215px;
  position: sticky;
  transition: 0.6s;
  height: calc(
    100vh - calc(var(--navbar-height-desktop) + var(--spacing-24) + 9rem)
  );
  overflow: auto;
}

.uploadButton {
  padding: 16px;
  height: 88px;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.uploadButton:nth-child(1) {
  margin-right: 8px;
}
.editIcon {
  padding: 2px;
  cursor: pointer;
}
.hidden {
  display: none;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.uploadVideo {
  display: flex;
  padding: 16px 16px 12px 16px;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  border-radius: 8px;
}

.uploadVideo svg {
  cursor: pointer;
}

.uploadVideo p {
  color: var(--Black, #000);
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
}

.addvidText {
  color: var(--Grey-Dark, #939CA3);
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.56px;
  padding: 0 16px;
  cursor: pointer;
}

.newTag {
  display: inline-flex;
  padding: 2.4px 10px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #0096C8;
  color: #0096C8;
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 150% */
  text-transform: capitalize;
  position: absolute;
  top: 14px;
  left: 12px;
}

.uploadButtonDescktop {
  border-radius: 8px;
  border: 1px dashed var(--Primary-Full, #8064A2);
  background: #FFF;
  display: flex;
  /* width: 482px; */
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
}

.uploadButtonDescktop .hidden {
  opacity: 0;
  inset: 0;
  z-index: 2;
  position: absolute;
  display: block;
  cursor: pointer;
}

.uploadButtonDescktop {
  color: var(--Purple-1, #8064A2);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
}


.video {
  width: 100%;
}
.nav-mobile {
  display: none;
}

/* Blogs section css Start */

.no-posts-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}
.no-store-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  margin-top: var(--spacing-12);
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-posts-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}

.videoAndImages {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}


.display-mobile {
  display: none !important;
}

.display-none {
  display: none !important;
}

.error{
  border: 1px solid #C0504D !important;
}

.medias{
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0px 0px 8px 8px;

}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--spacing-12);
  column-gap: 24px;
}
.display-mobile-initial {
  display: none !important;
 }

@media screen and (max-width: 1100px) {
  .medias {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 16 / 9;
    border-radius: 0;
    background: transparent;
  }

  .image {
    width: auto;
    
  }
  .image img {
    border-radius: 0;
  }
  .nav-mobile {
    display: initial;
    margin: 0 0 8px 0;
    padding: 10px 0 0 0;
    background-color: #ffffff;
  }
  .pages-container {
    margin-top: var(--spacing-16);
    display: grid;
    grid-template-columns: 100%; /* Two equal-width columns */
    gap: var(--spacing-16); /* Gap between grid items */
  }
  .display-mobile {
    display: initial !important;
  }
  .videoAndImages{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }
  .uploadButtonDescktop {
    width: 100%;
    padding: 12px;
    border-radius: 0;
    border: 1px dashed var(--Primary-Full, #8064A2);
    background: #FFF;
  }
  .uploadVideo{
    padding: 0;
  }
  .addvidText{
    padding: 0;
  }
  .no-posts-div{
  
    border-radius: 0;
  }
  .profile-left-aside{
    position: static;
    height: auto;
  }
  .dual-section-wrapper {
    
    height: 90vh;
  }
  .uploadContainer {
    display: flex;
    gap: 24px;
    flex-direction: column;

  }
  .three-column-grid {
    grid-template-columns: 1fr ;
    row-gap: 8px;
  }
 .display-mobile-initial {
  display: block !important;
 }
 .display-none-responsive {
  display: none !important;
}
}
