@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

ul.location-wrapper{
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
  animation: fadeDown 0.3s ease forwards;
}
ul.contact-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

ul.location-wrapper li,
ul.contact-wrapper li {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
ul.location-wrapper svg,
ul.contact-wrapper svg {
  max-width: 1.5rem;
  width: 100%;
  aspect-ratio: 1/1;
}

.error{
  border: 1px solid #C0504D !important;
  position: relative;
}

@media screen and (max-width:1100px) {
  .location-wrapper{
    display: none !important;
  }
  .display-mobile-flex{
    display: flex !important;
  }
  /* .error::after{
    content: '';
    margin-left: 4px;
    margin-right: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    border-left: 1px solid #C0504D !important;
    border-right: 1px solid #C0504D !important;
    user-select: none;
    pointer-events: none;
  } */
  .error svg path{
    fill: #C0504D;
  }
  .error-text{
    color: #C0504D !important;
  }
  .absolute-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 36px;
    left: 16px;
  }
}
