ul.location-wrapper{
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}
ul.contact-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

ul.location-wrapper li,
ul.contact-wrapper li {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
ul.location-wrapper svg,
ul.contact-wrapper svg {
  max-width: 1.5rem;
  width: 100%;
  aspect-ratio: 1/1;
}
