
.confirmation-modal {
   background-color: white;
   border-radius: 8px;
   padding: 50px 85px 30px 85px;
   position: relative;
 }
 .confirmation-modal .buttons {
   display: flex;
   align-items: center;
   column-gap: 1rem;
   justify-content: center;
   margin-top: 3rem;
   margin-left: auto;
   margin-right: auto;
   max-width: 250px;
 }
 .confirmation-modal .buttons button {
   flex: 1;
   padding: 0.5rem 1rem;
 }

 .button1{
  font-size: 1rem !important;
}

.modal-close-icon {
  position: absolute;
  top: var(--spacing-12);
  right: var(--spacing-12);
  cursor: pointer;
  border-radius: 100%;
  padding: var(--spacing-2);
  z-index: 10;
}
.modal-close-icon:hover {
  background: #ddd;
}

@media screen and (max-width:1100px) {
  .confirmation-modal{
    margin-top: calc(50vh - 96px);
    max-width: 405px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .confirmation-modal {
    display: flex;
    padding: 32px 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .confirmation-modal p{
    text-align: center;
  }
}