.data-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

.no-data-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-data-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}

.add-event{
  border-radius: 8px;
border: 1px dashed var(--Primary-Full, #8064A2);
background: #FFF;
width: 100%;
height: 100%;
min-height: 14rem;
position: relative;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.add-event button{
  cursor: pointer;
  background: transparent;
  outline: none;
  width: 64px;
height: 64px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #8064A2;
border-radius: 50%;
}

.new-tag{
  border: 2px solid #0096C8;
  display: inline-flex;
padding: 4px 10px;
align-items: flex-start;
gap: 10px;
color: #0096C8;
font-family: 'Poppins';
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
text-transform: capitalize;
position: absolute;
top: 14px;
left: 12px;
}

.card-container {
  display: grid;
  row-gap: 12px;
  column-gap: 24px;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
}

.dual-section-wrapper {
  display: flex;
  gap: 16px;
  align-items: start;
}
.no-posts-container {
  /* margin: var(--spacing-8); */
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: 8px;
  border: 2px solid #ebedf0;
  height: 10rem;
  width: 100%;
  background-color: #ffffff;
}
.no-posts-container p{
  font-size: 14px;
  font-weight: 500;
  color: rgba(var(--gray-100-rgb));
}

@media screen and (max-width:1100px) {
  .display-desktop {
    display: none !important;
  }
  .dual-section-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .data-container {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
  }
  .no-data-div{
    border-radius: 0;
  }
  .card-container { 
    padding-top: 8px;
    grid-template-columns: 1fr
  }
}