.hobby-list {
  margin-top: var(--spacing-16);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-16);
  column-gap: var(--spacing-8);
}

.hobby-list li {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* display: flex;
      align-items: flex-end; */
  letter-spacing: -0.01em;
  color: #8064a2;
}
.hobby-list li.active {
  color: #8064a2;
  font-weight: 500;
}
