@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hobby-list {
  margin-top: var(--spacing-16);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-16);
  column-gap: var(--spacing-8);
  animation: fadeDown 0.3s ease forwards;
}

.hobby-list li {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* display: flex;
      align-items: flex-end; */
  letter-spacing: -0.01em;
  color: #8064a2;
}
.hobby-list li.active {
  color: #8064a2;
  font-weight: 500;
}

.error{
  border: 1px solid #C0504D !important;
  position: relative;
}
.error-text{
  display: none;
}
.error-label {
  color: black;
}

@media screen and (max-width:1100px) {
  .hobby-list{
    display: none;
  }
  .display-mobile-flex{
    display: flex;
  }
  .error::after{
    content: '';
    margin-left: 4px;
    margin-right: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    border-left: 1px solid #C0504D !important;
    border-right: 1px solid #C0504D !important;
    user-select: none;
    pointer-events: none;
  }
  .error svg path{
    fill: #C0504D;
  }
  .error-text{
    display: block;
    color: #C0504D !important;
  }
  .error-label{
    color: #C0504D !important;
  }
  .error-label::after {
    content: '*';
  }
  .absolute-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 36px;
    left: 16px;
  }
}