.data-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.no-data-div {
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-data-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}

@media screen and (max-width: 1100px) {
  .data-container {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .no-data-div {
    border-radius: 0;
  }
}
