.data-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

.no-data-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-data-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}
