.gray-bg {
  background-color: rgb(235, 237, 240);
}

.truncateOneLine {
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Ensures content beyond the element's width is hidden */
  text-overflow: ellipsis; /* Displays ellipsis (...) for overflowing text */
}

.truncateTwoLines {
  display: -webkit-box; /* Required for multiline truncation */
  -webkit-box-orient: vertical; /* Specifies the box's orientation */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis (...) at the end of the visible text */
  line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-line-clamp: 2; /* Required for multiline truncation */
}

html {
  scroll-behavior: smooth;
}

:root {
  --max-width: 81rem; /* 1200px */

  --font-poppins: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;

  /* Primary - Purple */
  --primary-100-rgb: 127, 99, 161; /* #7f63a1  */
  --primary-50-rgb: 128, 100, 162; /* #8064A2  */
  --primary-10-rgb: 247, 245, 249; /* #F7F5F9  */

  /* Secondary - Sky Blue */
  --secondary-rgb: 0, 150, 200; /* #0096c8 */

  --bg-rgb: 248, 249, 250; /* #F8F9FA */
  --border-rgb: 235, 237, 240;
  --black-rgb: 0, 0, 0; /* #000 */
  --white-rgb: 255, 255, 255; /* #fff */
  --gray-100-rgb: 108, 115, 122; /* #939ca3 */
  --gray-50-rgb: 147, 156, 163; /* #6d747a */

  /* Error Red - #c0504d */

  /* Spacing */
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-40: 2.5rem; 
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-62: 4rem;
  --spacing-68: 4.5rem;

  /* Z-Indexes */
  --navbar-z-index: 10;

  /* Heights */
  --navbar-height-desktop: 5rem;
}
@media screen and (min-width: 1100px) {
  .scrollable-section {
    height: calc(100vh - var(--navbar-height-desktop) - var(--spacing-24));
    overflow-y: auto;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --navbar-height-desktop: 3rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}
strong,
em,
i {
  font: revert;
}
/* *:focus {
  outline: 3px solid red !important;
} */

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  font-family: var(--font-poppins);
  /* background: rgba(var(--bg-rgb)); */
}
a {
  all: unset;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

/* .main-site-wrapper {
  margin-top: var(--navbar-height-desktop);
} */

.site-container {
  /* max-width: var(--max-width); */
  max-width: 1240px;
  margin: auto;
}

.content-box-wrapper {
  position: relative;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  width: 100%;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 1000px rgba(var(--primary-10-rgb), 0.8) !important;
  -webkit-text-fill-color: #333 !important;
}

.ck.ck-editor {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 8px !important;
  height: 100% !important;
}

.ck-editor__main {
  flex-grow: 1;
}

.ck.ck-content {
  height: 100%;
  border: none !important;
  box-shadow: none !important;
  border: 1px solid #ebedf0 !important;
  border-radius: 8px 8px 0 0 !important;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #656565;
  min-height: 22rem;
  padding: var(--spacing-16);
}

.ck.ck-toolbar {
  border: none !important;
  border: 1px solid #ebedf0 !important;
  border-radius: 0 0 8px 8px !important;
}

.modal-footer-btn {
  --color: rgb(var(--white-rgb));
  --bg-color: rgb(var(--primary-100-rgb));

  width: 100%;
  max-width: 6.25rem;
  height: var(--spacing-40);

  border: none;
  border-radius: 8px;
  background-color: var(--bg-color);
  color: var(--color);

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.modal-footer-btn:not(:disabled):hover {
  opacity: 0.9;
}
.modal-footer-btn.submit:focus-visible {
  outline: 1px solid rgba(var(--primary-100-rgb)) !important;
  border: 1px solid !important;
}
.modal-footer-btn.submit {
  margin-left: auto;
}
.modal-footer-btn.submit:disabled {
  opacity: 0.7;
}
.modal-footer-btn.cancel {
  margin-right: auto;
  --bg-color: rgba(var(--white-rgb));
  --color: rgba(var(--primary-100-rgb));
  border: 1px solid rgba(var(--primary-100-rgb));
  position: relative;
}
.modal-footer-btn.cancel:focus-visible {
  outline: none;
}
.modal-footer-btn.cancel:focus-visible::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3.2px;
  background-color: transparent;
  border: 1px solid rgb(var(--primary-100-rgb));
  border-radius: 8px;
}

/* Default Images */
.default-user-icon {
  background-image: url(../assets/svg/default-images/default-user-icon.svg);
  background-size: cover;
  min-width: var(--spacing-24);
  min-height: var(--spacing-24);
}

.default-user-cover {
  background-image: url(../assets/svg/default-images/default-user-cover.svg);
  background-size: cover;
}

.default-people-listing-icon {
  background-image: url(../assets/svg/default-images/default-people-listing-icon.svg);
  background-size: cover;
}
.default-people-listing-cover {
  background-image: url(../assets/svg/default-images/default-people-listing-cover.svg);
  background-size: cover;
}

.default-program-listing-icon {
  background-image: url(../assets/svg/default-images/default-program-listing-icon.svg);
  background-size: cover;
}
.default-program-listing-cover {
  background-image: url(../assets/svg/default-images/default-program-listing-cover.svg);
  background-size: cover;
}

.default-place-listing-icon {
  background-image: url(../assets/svg/default-images/default-place-listing-icon.svg);
  background-size: cover;
}
.default-place-listing-cover {
  background-image: url(../assets/svg/default-images/default-place-listing-cover.svg);
  background-size: cover;
}
.default-product-listing-icon {
  background-image: url(../assets/svg/default-images/default-product-listing-icon.svg);
  background-size: cover;
}
.default-product-listing-cover {
  background-image: url(../assets/svg/default-images/default-product-listing-cover.svg);
  background-size: cover;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid #ebedf0;
  border-bottom: 0;
  /* border-radius: 8px 8px 0 0; */
  border-color: #ebedf0;
}

.ql-toolbar.ql-snow {
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
  border-color: 1px solid #ebedf0 !important;
  height: 48px;
}
.ql-toolbar.ql-snow .ql-formats button:hover {
  border-radius: 4px;
  background: var(--Grey-Hover, #f8f9fa);
}
.ql-toolbar.ql-snow .ql-formats button {
  opacity: 0.8;
  padding: 0 12px !important;
  width: auto !important;
}

.ql-toolbar.ql-snow .ql-formats:nth-child(1) {
  margin-right: 6px;
}
.ql-toolbar.ql-snow .ql-formats:nth-child(3) .ql-link {
  padding: 0 !important;
}
.ql-toolbar.ql-snow .ql-formats:nth-child(3) {
  padding: 0 !important;
  width: 30px;
  margin-left: auto;
}
.ql-toolbar.ql-snow > img {
  padding-top: 0px;
  display: inline-block;
  padding: 0 4px;
}
.ql-toolbar.ql-snow img:nth-child(3) {
  margin-left: auto;
}

.ql-editor.ql-blank {
  min-height: calc(100vh - 21rem);
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #939ca3;
  flex: 1;
}
.textarea-emoji-control {
  display: none;
}
.ql-container {
  font-size: 14px !important;
  /* max-width: 800px; */
  width: 100%;
  font-family: 'Poppins';
}

.blog-quill .ql-container {
  max-width: 100% !important;
  min-height: 100vh;
  border-radius: 0 !important;
  border: 0 !important;
  /* border-top: 1px solid #ccc !important; */
  border-bottom: 1px solid #ccc !important;
}

.blog-quill .ql-editor {
  min-height: inherit !important;
  padding-inline: 24px;
}

.blog-quill .ql-toolbar {
  border-radius: 8px 8px 0 0 !important;
  border: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky !important;
  top: 80px;
  z-index: 1;
}

.blog-quill .ql-toolbar span {
  margin: 0 !important;
}

.blog-quill .ql-toolbar:after {
  content: none !important;
}

.ck.ck-content.ck-editor__editable ul,
.ck.ck-content.ck-editor__editable ol {
  padding-left: 12px !important;
}

.about-quill-container .ql-container.ql-snow {
  flex: 1;
  min-height: 285px !important;
  border: 1px solid #ebedf0;
}
.about-quill-container .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 1px solid #ebedf0 !important;
  border-bottom: 0;
  max-height: 285px;
  overflow: auto;
}
.about-quill-container .ql-toolbar.ql-snow {
  border: 1px solid #ebedf0;
}
.about-quill-container .ql-toolbar.ql-snow button {
  margin-right: 0.75rem;
}
.about-quill-container .quill {
  padding-bottom: 0;
  border-radius: 8px;
}
.about-quill-container {
  border-radius: 8px;
  overflow: hidden;
}

.about-quill-container.quill-error {
  border: 1px solid #c0504d;
}
.ql-snow.ql-toolbar button svg {
  width: 24px;
  height: 24px;
}
.ql-snow.ql-toolbar button svg path,
.ql-snow.ql-toolbar button svg line,
.ql-snow.ql-toolbar button svg circle,
.ql-snow.ql-toolbar button svg path rect {
  stroke: #6d747a;
}

.imageclick {
  cursor: pointer !important;
}
.modal-mob-btn {
  display: none;
}
.modal-mob-btn-save {
  display: none;
}

.btnOutlinePurple button:focus-visible {
  outline-color: #8064a2;
}

.btnOutlinePurple button:hover svg path,
.btnOutlinePurple button:focus svg path,
.btnOutlinePurple button:active svg path,
.btnOutlinePurple button:target svg path,
.btnOutlinePurple button:visited svg path,
.btnOutlinePurple button:focus-visible svg path {
  stroke: #8064a2 !important;
}

.btnOutlinePurple button:hover svg line,
.btnOutlinePurple button:focus svg line,
.btnOutlinePurple button:active svg line,
.btnOutlinePurple button:target svg line,
.btnOutlinePurple button:visited svg line,
.btnOutlinePurple button:focus-visible svg line {
  stroke: #8064a2 !important;
}

.btnOutlinePurple button:hover svg rect,
.btnOutlinePurple button:focus svg rect,
.btnOutlinePurple button:active svg rect,
.btnOutlinePurple button:target svg rect,
.btnOutlinePurple button:visited svg rect,
.btnOutlinePurple button:focus-visible svg rect {
  fill: #8064a2 !important;
}

.admin-next-btn {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border: none;
}

.users-next-btn {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 24px;
  background-color: #0096c8;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  border: none;
}

@media screen and (max-width: 1100px) {
  .blog-quill .ql-toolbar {
    top: 47px;
  }

  .content-box-wrapper {
    border: none;
  }
  .site-container {
    max-width: var(--max-width);
    margin: auto;
  }

  .modal-footer-btn.submit {
    display: none;
  }

  .modal-footer-btn.cancel {
    display: none;
  }

  .ql-toolbar.ql-snow .ql-formats button {
    padding: 0 7px !important;
  }

  .ql-formats {
    display: flex;
    flex-direction: row !important;
  }

  .modal-mob-btn {
    display: block;
    --color: rgb(var(--white-rgb));
    --bg-color: rgb(var(--primary-100-rgb));
    width: 100%;
    max-width: 6.25rem;
    height: var(--spacing-40);
    background-color: var(--bg-color);
    color: var(--color);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
  }
  .modal-mob-btn.submit {
    margin-left: auto;
  }
  .modal-mob-btn.submit:disabled {
    opacity: 0.7;
  }
  .modal-mob-btn.cancel {
    margin-right: auto;
    --bg-color: rgb(var(--white-rgb));
    --color: rgb(var(--primary-100-rgb));
  }
  .modal-mob-btn:not(:disabled):hover {
    opacity: 0.9;
  }

  .modal-mob-btn-save {
    display: flex;
    color: white;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Purple-1, #8064a2);
  }

  .modal-mob-btn-save {
    display: block;
  }

  .settings-title {
    padding: var(--spacing-16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--Purple-1, #8064a2);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .settings-container {
    margin-top: var(--spacing-12);
  }
}
@media screen and (max-width: 500px) {
  .ql-toolbar.ql-snow .ql-formats button {
    padding: 0 12px !important;
  }
}
@media screen and (max-width: 380px) {
  .ql-toolbar.ql-snow .ql-formats button {
    padding: 0 6px !important;
  }
}

.custom-scrollbar-two {
  transition: 0.6s;
}
.custom-scrollbar-two::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-two::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar-two::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.custom-scrollbar {
  transition: 0.6s;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.textFieldClass > div {
  border-radius: 8px;
}

.textFieldClass > div > input {
  padding: 12px 16px;
}

.textFieldClass:hover {
  border: none;
  outline: none;
}
.textFieldClass:focus-visible {
  border: none;
  outline: none;
}
.textFieldClass > div:hover {
  outline: none;
  outline: none;
}
.textFieldClass > div:focus-visible {
  outline: none;
  border: none;
}

.textFieldClass:hover fieldset {
  border: 1px solid #8064a2;
  outline: none;
}

.textFieldClass > div:hover > fieldset {
  border: 1px solid #8064a2 !important;
  outline: none;
}

.static-position {
  position: static;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .margin-bottom-55vh {
    margin-bottom: 55vh;
  }
  .margin-bottom-50vh {
    margin-bottom: 50vh;
  }
  .margin-bottom-52vh {
    margin-bottom: 52vh;
  }
  .margin-bottom-68vh {
    margin-bottom: 68vh;
  }
  .margin-bottom-40vh {
    margin-bottom: 40vh;
  }
  .margin-bottom-43vh {
    margin-bottom: 43vh;
  }
  .margin-bottom-65vh {
    margin-bottom: 65vh;
  }
  .blog-quill .ql-editor {
    padding-inline: 16px !important;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: none !important;
    border-bottom: 1px solid #ccc;
  }
  .ql-toolbar.ql-snow {
    border-radius: 0 !important;
    position: relative;
    overflow: hidden;
  }
  /* not working because overflow hidden is there, and without overflow hidden you will face scrollbar */
  /* .ql-toolbar.ql-snow::after{
  content: ' ';
  position: absolute;
  display: block;
  top: 0;
  left: -16px;
  right: -16px;
  background: #EBEDF0;
  height: 1px;
  z-index: 1;
} */
}

.font-italic {
  font-style: italic;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}
