body:has(.add-listing-container) {
  /* @TODO: Change it in future */
  background-color: rgb(var(--bg-rgb));
}

.add-listing-container {
  background-color: rgb(var(--white-rgb));
  
  padding: var(--spacing-40);
  padding-top: 24px;
  border-radius: 8px;
  max-width: fit-content;
  margin-top: 24px;
}

.add-listing-heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #08090a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.select-text {
  display: flex;
  justify-content: center;
  color: #6D747A;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-top: 22px;

}

.cards-wrapper {
  margin-top: var(--spacing-32);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-40);
}

.card {
  --base-color: #8064a2;
  padding: var(--spacing-24) var(--spacing-16);
  width: 22.5rem;
  background: #ffffff;

  border: 2px solid var(--base-color);
  border-radius: 8px;

  cursor: pointer;

  transition: all 0.3s;
}

.card.people {
  --base-color: #8064a2;
}
.card.place {
  --base-color: #77933c;
}
.card.product {
  --base-color: #c0504d;
}
.card.program {
  --base-color: #0096c8;
}

.card h3 {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #08090a;
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}
.card svg {
  fill: var(--base-color);
}
.card svg path {
  fill: inherit;
}
.card p {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #08090a;
  margin-top: var(--spacing-24);
}

.card:hover {
  background-color: var(--base-color);
}
.card:hover h3,
.card:hover p {
  color: white;
}
.card:hover svg {
  fill: white;
}
@media screen and (max-width: 900px) {
  .add-listing-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
.card {
  width: auto;
}
}
