.all-hobby-wrapper{
  width: 100%;
  background-color: #f8f9fa;
}
.page-container {
  display: grid;
  grid-template-columns: 230px auto;
  padding: 12px 0;
  gap: 24px;
}

.filter-wrapper {
  background: #ffffff;
  padding: 16px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  top: calc(12px + var(--navbar-height-desktop));
  position: sticky;
}

.filter-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-wrapper header .heading {
margin-bottom: 24px;
font-weight: 600;
line-height: 20px;
color: var(--Purple-1, #8064a2);
font-family: Poppins;
font-size: 20px;
font-style: normal;
line-height: 16px;
margin: 0;
}

.filter-wrapper header button {
  border: 1px solid #ebedf0;
  background: #8064a2;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 19px;
  margin: 0;
  height: auto;
}

.select-filter {
  margin-top: 25px;
}

.select-filter p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  margin-bottom: 3px;

  color: #6d747a;
}

.select-filter input {
  font-size: 12px;
  font-family: 'Poppins';
  padding-top: 10px;
  padding-bottom: 10px;
}

.select-filter div {
  border-radius: 8px;
  background-color: #f8f9fa;
  font-family: 'poppins';
  font-size: 12px;
  color: #6d747a;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  height: 32px;
  width: 100%;
}

.select-filter select {
  font-family: 'poppins';
}

.hobby-desc-container {
  background: #ffffff;
  padding: 16px;
  border: 1px solid #ebedf0;
  border-radius: 8px;
}
.hobby-desc-container .heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  color: #000000;
}

.hobby-desc-container .text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #08090a;
}
.hobby-desc-container .text p:first-child {
  margin-bottom: 1rem;
}
.hobbies-table {
  margin-top: var(--spacing-12);
  width: 100%;
}

.hobbies-table a {
  all: unset;
  cursor: pointer;
}
.hobbies-table a:hover {
  color: #8064a2;
}

.hobbies-table thead {
  display: flex;
  padding: 16px 10px;
  width: 100%;
  position: sticky;
  top: 78px;
  background: #8064a2;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #ffffff;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

.hobbies-table tbody {
  display: flex;
  flex-direction: column;
  /* padding: 16px 10px; */
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  background: #ffffff;
}

.hobbies-table * {
  margin: 0;
}

.hobbies-table thead th:nth-child(1) {
  min-width: 120px;
}
.hobbies-table thead th:nth-child(2) {
  min-width: 130px;
}
.hobbies-table thead th:nth-child(3) {
  min-width: 114px;
}

.hobbies-table tbody tr td:nth-child(1) {
  min-width: 130px;
  padding: 10px;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;
}
.hobbies-table tbody tr td:nth-child(2) {
  min-width: 230px;
  width: 100%;
}
.hobbies-table tbody tr td div {
  /* background-color: red; */
  display: flex;
  border-bottom: 1px solid #ced4da;
}
.hobbies-table tbody tr td div p:first-of-type {
  max-width: 140px;
  width: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  column-gap: 6px;
  color: #000000;
  padding-left: 12px;
}
.table-hobby {
  font-size: 14px;
  padding: 8px 103px 8px 24px;
}
.table-content-container {
  position: relative;
}
.hobbies-table tbody tr td .vertical-line {
  position: absolute;
  left: 140px;
  top: -10px;
  width: 1px;
  height: calc(100% + 10px);
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  background-color: #ced4da;
}

.dropdown {
  max-width: 196px;
  width: 100%;
  position: absolute;
 
  max-height: 280px;
  overflow-y: auto;
  right: 0;
  background: #ffffff;
  border-radius: var(--spacing-4);
  padding: var(--spacing-4);
  filter: drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36))
    drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12));
  z-index: 20;
}
.dropdown p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;
  border-radius: 4px;
  padding: var(--spacing-8);
  color: #6d747a;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f7f5f9;
  color: #8064a2;
}
.dropdown,
.dropdown p {
  box-sizing: border-box;
}

.hobby-filter {
  top: calc(100vh - calc(var(--navbar-height-desktop)));
  position: sticky;
}
