.explore-wrapper {
    background-color: #f8f9fa;
    min-height: 80vh;
    height: 100%;
    padding: 1rem 0;
  }
  .explore {
    margin: 0rem 7rem;
    padding: 1.2rem 1.2rem;
    border: 2px solid rgb(242, 242, 242);
    border-radius: 10px;
    background-color: #ffffff;
    min-height: 80vh;
    height: 100%;
  }
  
  .explore p {
    color: #6d747a;
    font-size: 14px;
    font-weight: 500;
  }
  
  .pageheading {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .heading {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
  }