.explore-wrapper {
    background-color: #f8f9fa;
    min-height: 80vh;
    height: 100%;
   
    max-width: 1440px;
  }
  .explore {

    padding: 1.2rem 1.2rem;
    border: 2px solid rgb(242, 242, 242);
    border-radius: 10px;
    background-color: #ffffff;
    min-height: 80vh;
    height: 100%;
  }
  
  .explore p {
    color: #6d747a;
    font-size: 14px;
    font-weight: 500;
  }
  
  .pageheading {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .heading {
    color: var(--Purple-1, #8064a2);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 0 0 100px;
  }

  .heading h1{
    padding: var(--spacing-16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--Purple-1, #8064a2);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  
  .community-left-aside,
  .community-right-aside{
    position: sticky;
    top: calc(var(--navbar-height-desktop) + var(--spacing-12));
  }
  .community-left-aside,
  .community-right-aside {
    height: calc(
      100vh - calc(var(--navbar-height-desktop) + var(--spacing-24)) - 1rem
    );
    overflow: auto;
    width: 229px;
    margin-bottom: 24px;
  }
  
@media screen and (max-width:767px) {
  .explore{
    
    margin: 1rem 1rem;
  }
}



@media screen and (max-width: 1100px) {
  .community-left-aside,
  .community-right-aside {
    height: auto;
  }
  .profileSwitcherWrapper {
    display: none;
    
  }
  .heading {
    margin: 10px 8px 10px;
  }
  .community-left-aside,
  .community-right-aside {
    margin: 0 1rem;
  }
}