.aside {
    background-color: white;
    height: 150px;
 
    width: 230px;
  
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 16px;
    color: var(--Purple-1, #8064a2);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.aside textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    color: var(--Purple-1, #8064a2);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.container{
    display: flex;
    gap: 24px;
    padding-top: 12px;
    justify-content: flex-start;
    min-height: calc(100vh - 500px);
    background-color: transparent;
    max-width: 1240px;
    margin: 0 auto;
}

.cards-container{
    background: #fff;
    padding: 2rem 3rem;
    margin-bottom: 25px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards-container h1{
    line-height: 1.25;
    font-weight: 600;
    font-size: 36px;
    color: #242429;
}

.cards-parent{
    display: flex;
    gap: 4em;
}

.card{
    max-width: 285px;
}

.card p{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 26px;
    color: #242429;
    margin: 0 0 10px;
    font-weight: 400;
}

.card h2{
    line-height: 46px;
    font-weight: 600;
    font-size: 30px;
    color: #242429;
    margin-top: 20px;
    margin-bottom: 10px;

}

.card a{
    color: #fff;
    background-color: rgb(var(--primary-100-rgb));
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    word-break: break-word;
    transition: all;
}

.card a:hover{
    filter: brightness(1.1);
}

.site-container-footer {
    max-width: none;
  }

@media screen and (max-width:1100px) {

    .aside {
        max-height: 60px !important;
        width: 100%;
    }
    .container {
        flex-direction: column;
        padding-inline: 16px;
        gap: 8px;
    }
    .cards-parent{
        flex-direction: column;
        gap: 2em;
    }
    .cards-container{
        padding: 20px;
    }
}

@media screen and (max-width:768px) {
    .container{
        padding: 35px 15px;
        padding-top: 12px;
    }
    .cards-container{
        width: 100%;
    }
}