.header {
  margin: auto;
  display: grid;
  grid-template-columns: 160px auto 160px;
  gap: 24px;
  align-items: flex-end;
  padding-top: 12px;
  /* background-color: white; */
}
.profile-img {
  width: 160px;
  height: 160px;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));
  border-radius: 8px;
}

.center-container .cover-img {
  width: 100%;
  height: 296px;
  border-radius: 8px;
}
.center-container .name {
  margin-top: 9px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.center-container .category {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #08090a;
  margin-top: var(--spacing-8);
}

.action-btn-wrapper {
  width: 160px;
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.action-btn-wrapper .action-btn {
  background: #f7f5f9;
  border-radius: 8px;
  width: 48px;
  height: 40px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.navigation-links {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.navigation-links a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6d747a;
  padding: 8px 5px;
  position: relative;
}
.navigation-links a:hover {
  color: #8064a2;
}
.navigation-links a.active {
  color: #8064a2;
  font-weight: 600;
}
.navigation-links a.active::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #8064a2;
  border-radius: 2px 2px 0px 0px;
}

.classification-items {
  list-style: none;
  padding: 0;
}

.classification-items li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
  margin-top: var(--spacing-16);
}
.classification-items li.active {
  color: #8064a2;
  font-weight: 500;
}

.start-post-btn {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.start-post-btn button {
  cursor: pointer;
  width: 100%;
  padding: 12px 16px;
  background: #f7f5f9;
  border-radius: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: fit-content;
  border: none;
  color: #8064a2;
  fill: #8064a2;
}

.start-post-btn span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
}
.start-post-btn button:hover {
  background: rgb(var(--primary-100-rgb));
  color: #ffffff;
  fill: #ffffff;
}

.keywords {
  background: #ffffff;
  padding: 12px 16px;
  border: 1px solid #ebedf0;
  border-radius: 60px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.keywords .heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #8064a2;
  margin: 0;
}

.keywords .keyword-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.keyword-list li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #939ca3;
}

.next-level-items {
  list-style: none;
  padding: 0;
}

.next-level-items li {
  margin-top: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}

.members {
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
}

.members .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-16);
}

.members .heading > h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin: 0;
}

.rotate-180 {
  transform: rotate(180deg) scale(1.5);
}

.members .heading > img {
  transform: scale(1.5);
  width: 20px;
  height: 17px;
}

.members hr {
  margin: 0;
}

.members .member-list {
  padding: 16px;
}

.members .member-list p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #6d747a;
  margin-bottom: 8px;
}
.members .member-list p.seeAllBtn {
  color: #8064a2;
  cursor: pointer;
}
/* Post Page */

.posts-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.links-container {
  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: var(--spacing-16);
    gap: var(--spacing-16);
}
.noMembers {
  font-size: 14px;
  color: #6d747a;
}

.pages-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: var(--spacing-16); /* Gap between grid items */
}
.pages-container > a {
  overflow: hidden;
}
.keyword-container {
  display: flex;
  align-items: center;
  column-gap: 12px;
  /* flex-wrap: wrap; */
}
.keyword-container ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
}
.keyword-container li {
  list-style: none;
}
.keyword-container h4.keyword-text {
  color: #8064a2;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  flex-shrink: 0;
  align-self: flex-start;
}

.hobby-left-aside {
  top: 215px;
  position: sticky;
  overflow: auto;
  transition: 0.6s;
  height: 400px;
}

.member-img {
  border-radius: 50%;
  border: 1px solid #8064a2;
}
.hobbies-members {
  display: grid;
  grid-template-columns: 2rem 1fr;
  vertical-align: middle;
}

.hobbies-members div {
  padding-top: 2px;
}

.hobbies-members div:hover {
  color: #8064a2;
}

.display-mobile {
  display: none !important;
}
.display-flex-mobile {
  display: none !important;
}

.dual-section-wrapper {
  display: flex;
  gap: 24px;
  align-items: start;
}

.rotate-180 {
  transform: rotate(180deg) scale(1.5) !important;
}
.rotate-0 {
  transform: rotate(0deg) scale(1.5);
}

.expand-all {
  display: none;
}
.expand-all > img {
  aspect-ratio: 1;
  transform: scale(1.5);
}
.expand-all > p {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.display-none{
  display: none !important;
}

.no-posts-container {
  /* margin: var(--spacing-8); */
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: 8px;
  border: 2px solid #ebedf0;
  height: 10rem;
  width: 100%;
  background-color: #ffffff;
}
.no-posts-container p{
  font-size: 14px;
  font-weight: 500;
  color: rgba(var(--gray-100-rgb));
}
.items{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.items li{
list-style: none;
color: #08090a;
line-height: 20px;
}
@media screen and (max-width: 1100px) {
  .hobby-left-aside {
    position: relative !important;
    top: 0;
    height: auto;
  }
  /* .keyword-container ul {
    display: none;
  } */
  .display-desktop {
    display: none !important;
  }
  .display-mobile {
    display: initial !important;
  }
  .display-flex-mobile {
    display: flex !important;
  }
  .dual-section-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .related-hobbies-content {
    margin: 10px 0 0 0;
  }
  .posts-container {
    margin: 10px 0 0 0;
  }
  .expand-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 0 1rem 1rem 0;
    gap: 10px;
  }
  .members{
    border-radius: 0;
  }
  .no-posts-container{
    border-radius: 0;
  }
  .links-container{
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .classification-items li.active {
      display: flex;
      padding: 7px 12px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 4px;
      background: rgba(128, 100, 162, 0.25);
      margin-left: -6px;
    }
    .classification-items li.active p{
      line-height: 18px;
    }
}