.landing-contaniner {
  background: #fff;
  /* height: calc(100vh - var(--navbar-height-desktop)); */
}

.landing-wrapper {
  padding-top: 3rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  column-gap: 7.5rem;
  position: relative;
}

.landing-wrapper .content h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #000000;
  letter-spacing: 0.02em;
}
.landing-wrapper .content h1 span:first-child {
  color: rgba(var(--secondary-rgb));
}
.landing-wrapper .content h1 span:last-child {
  color: rgba(var(--primary-100-rgb));
}

.landing-wrapper .content p {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #000000;
  letter-spacing: 0.02em;
}

.hide-paragraph-responsive {
  margin-top: 0 !important;
}

.landing-illustration {
  position: relative;
  top: 72px;
  width: 100%;
  object-fit: contain;
}

/* Multiple Cards Container*/

.cards-container .four-p-card-wrapper {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.cards-container .add-your-page-wrapper {
  background-color: #f7fdff;
  padding: 6rem 0;
}
.cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.8rem;
  padding: 2.5rem;
  border: 1px solid rgba(var(--gray-100-rgb), 0.6);
  border-radius: 8px;
  background-color: rgba(var(--white-rgb));
}
.cards-container .card .card-title {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cards-container .card .card-desc {
  font-weight: 300;
  font-size: 1.125rem;
}

/* Testimonials Contaniner */
.testimonial-contaniner {
  background: rgba(var(--primary-10-rgb));
  border-radius: 8px;
  padding: 2.5rem;
  margin: 6.25rem auto;
}

.testimonial-contaniner .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonial-contaniner .testimonial .content {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #6d747a;
}
.testimonial-footer {
  margin-top: 2rem;
}
.testimonial-footer .testimonial-audio {
  background: rgba(var(--primary-50-rgb));
  border-radius: 8px;
  padding: 20px 3.125rem;
}
.card-btn {
  font-size: 14px;
}

.bigTextContainer {
  background-color: #f7fdff;
  margin: 0 auto 5rem;
  max-width: 100%;
  padding: 4% 7% 0;
}
.bigTextContainer .getStartedBtn {
  margin-bottom: 121px;
}
.bigText {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;

  border-radius: 8px;
}
.bigText .hobbyText {
  color: #8064a2;
}
.bigText .communityText {
  color: #0096c8;
}
.getStartedBtn {
  width: 147px;
  margin-top: 30px;
}
.getStartedBtn button {
  padding-top: 11px;
  padding-bottom: 11px;
}
.people-illustration {
  width: 100%;
  object-fit: contain;
}
.testimonial-footer {
  display: flex;
  align-items: center;
  column-gap: 80px;
}
.testimonial-audio {
  display: flex;
  column-gap: 40px;
  align-items: center;
  flex: 1;
}
.testimonial-audio .pause-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}
.testimonial-audio .progressbar {
  flex: 1;
}
.progressbar {
  display: flex;
  align-items: center;
}
.progressbar input {
  flex: 1;
}
.progressbar span {
  color: #8064a2;
  font-size: 12px;
  font-family: Poppins;
  line-height: 16px;
  display: inline-block;
  margin-left: 12px;
}
.profile-container {
  position: relative;
}
.testimonial-audio .profile-container {
  display: flex;
  position: relative;
}
.testimonial-audio .testimonial {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.testimonial-audio .microphone {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-30%);
}

.progressbar input[type='range'] {
  height: 2px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.progressbar input[type='range']:focus {
  outline: none;
}
.progressbar input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 6px;
  border: 0px solid #000000;
}
.progressbar input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 17px;
  background: #8064a2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.progressbar input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
.progressbar input[type='range']::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
  border: 0px solid #000000;
}
.progressbar input[type='range']::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 17px;
  background: #8064a2;
  cursor: pointer;
}
.progressbar input[type='range']::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.progressbar input[type='range']::-ms-fill-lower {
  background: #ffffff;
  border-radius: 12px;
}
.progressbar input[type='range']::-ms-fill-upper {
  background: #ffffff;
  border-radius: 12px;
}
.progressbar input[type='range']::-ms-thumb {
  margin-top: 1px;
  height: 12px;
  width: 12px;
  border-radius: 17px;
  background: #8064a2;
  cursor: pointer;
}
.progressbar input[type='range']:focus::-ms-fill-lower {
  background: #ffffff;
}
.progressbar input[type='range']:focus::-ms-fill-upper {
  background: #ffffff;
}
.testimonial-right {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.testimonial-right p {
  color: #8064a2;
  font-size: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.36px;
}
.testimonial-right span {
  color: #0096c8;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.landing-bg {
  background-color: #f7f5f9;
  height: 632px;
}

.site-container-footer {
  max-width: none;
}

@media screen and (min-width: 1600px) {
  .landing-contaniner {
    height: 45rem;
  }
  .landing-wrapper {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 1100px) {
  .intro-content {
    height: 5rem;
  }
  .landing-wrapper .content h1 {
    line-height: 0;
  }
  .landing-contaniner {
    padding: 0 16px;
    background-color: #f7f5f9;
  }

  .landing-wrapper .content h1 {
    font-size: 18px;
    position: relative;
  }

  .landing-wrapper .content p {
    font-size: 12px;
    overflow: hidden;
    margin-top: 0;
    padding-top: 1.5rem;
    color: var(--Black, #000);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 183.333% */
    letter-spacing: 0.24px;
  }

  .hide-paragraph-responsive {
    display: none;
  }

  .landing-wrapper {
    padding-top: 32px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;

    position: relative;
  }

  .landing-wrapper img {
    top: 34rem;
  }
  .cards-container .four-p-card-wrapper {
    padding: 24rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .cards-container .four-p-card-wrapper .card {
    margin: 0 16px;
  }
  .testimonial-footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: normal;
    margin-top: 24px;
  }
  .testimonial-right {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 32px;
  }

  .testimonial-right p {
    color: #8064a2;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
  }
  .testimonial-right span {
    color: #0096c8;
    font-size: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
  }

  .testimonial-footer .testimonial-audio {
    background: rgba(var(--primary-50-rgb));
    border-radius: 8px;
    padding: 5px 1rem;
    position: relative;
  }

  .testimonial-audio .testimonial {
    width: 44px;
    height: 40px;
    object-fit: contain;
  }

  .testimonial-audio .microphone {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 31.23px;
    height: 16.67px;
    transform: translateX(-30%);
  }
  .testimonial-audio .pause-icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
  }

  .progressbar input[type='range'] {
    height: 2px;
    margin: 10px 0;
    width: 100%;
  }
  .testimonial-audio {
    column-gap: 10px;
  }

  .progressbar span {
    color: #8064a2;
    font-size: 8px;
    font-family: Poppins;
    line-height: 12px;
    display: inline-block;
    margin-left: 12px;
  }

  .cards-container .four-p-card-wrapper {
    padding-bottom: 0px;
    padding-top: 16rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .cards-container .card {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards-container .card .card-title {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .cards-container .card {
    padding: 1.5rem;
    text-align: center;
  }
  .cards-container .card .card-desc {
    font-weight: 300;
    font-size: 12px;
  }

  .testimonial-contaniner .testimonial .content {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: center;
  }

  /* Testimonials Contaniner */
  .testimonial-contaniner {
    background: rgba(var(--primary-10-rgb));
    border-radius: 8px;
    padding: 1.5rem;
    margin: 0rem 16px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .testimonial-contaniner .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bigTextContainer {
    background-color: #f7fdff;
    max-width: 100%;
    margin: 0;
    margin-top: 4rem;
  }
  .people-illustration {
    height: 10rem;
  }

  .bigText {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
  }
  .getStartedBtn button {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
  }

  .bigTextContainer .getStartedBtn {
    margin-bottom: 0px;
  }
  .card-btn {
    width: 264px;
  }
}

/* .grid-container {
  display: grid;
  align-items: start;
  gap: var(--spacing-24);
}
.grid-container[data-column='3'] {
  grid-template-columns: 14.3rem auto 18.3rem;
}
.grid-container[data-column='2'] {
  grid-template-columns: 14rem auto;
}
@media screen and (max-width: 1100px) {
  .grid-container[data-column='3'] ,
  .grid-container[data-column='2'] {
    grid-template-columns: 1fr;
  }
  .container {
    padding: 1rem;
  }
} */

@media screen and (max-width: 640px) {
  .landing-wrapper img {
    top: 30rem;
  }
}
