.landing-contaniner {
  background: rgba(var(--primary-10-rgb));
}

.landing-wrapper {
  padding-top: 5rem;
  /* padding-bottom: 10rem; */
  height: 45rem;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  column-gap: 7.5rem;
  position: relative;
}

.landing-wrapper .content h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3.375rem;
  color: #000000;
  letter-spacing: 0.02em;
}
.landing-wrapper .content h1 span:first-child {
  color: rgba(var(--secondary-rgb));
}
.landing-wrapper .content h1 span:last-child {
  color: rgba(var(--primary-100-rgb));
}

.landing-wrapper .content p {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #000000;
  letter-spacing: 0.02em;
}

.landing-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Multiple Cards Container*/

.cards-container .four-p-card-wrapper {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.cards-container .add-your-page-wrapper {
  background-color: #f7fdff;
  padding: 6rem 0;
}
.cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.8rem;
  padding: 2.5rem;
  border: 1px solid rgba(var(--gray-100-rgb), 0.6);
  border-radius: 8px;
  background-color: rgba(var(--white-rgb));
}
.cards-container .card .card-title {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cards-container .card .card-desc {
  font-weight: 300;
  font-size: 1.125rem;
}

/* Testimonials Contaniner */
.testimonial-contaniner {
  background: rgba(var(--primary-10-rgb));
  border-radius: 8px;
  padding: 2.5rem;
  margin: 6.25rem auto;
}

.testimonial-contaniner .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonial-contaniner .testimonial .content {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #6D747A;
}
.testimonial-footer {
  margin-top: 2rem;
}
.testimonial-footer .testimonial-audio {
  background: rgba(var(--primary-50-rgb));
  border-radius: 8px;
  padding: 3.125rem;
}
.card-btn {
  font-size: 14px;
}
