.posts-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

/*  */
.start-post-btn-container {
  padding: var(--spacing-12) var(--spacing-16);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 1rem;
  border: 0;
}

.start-post-btn-container-mobile {
  display: none;
}

.start-post-btn {
  padding: var(--spacing-12) var(--spacing-16);
  width: 100%;

  display: flex;
  align-items: center;
  gap: var(--spacing-4);

  border: none;
  border-radius: 60px;

  background: #f7f5f9;
  cursor: pointer;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8064a2;
}

.posts-container-mobile {
  display: none;
}

.nav-mobile {
  display: none;
}

.display-mobile {
  display: none !important;
}

.display-desktop {
  display: initial !important;
}

.display-none {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .start-post-btn-container {
    display: none;
  }
  .start-post-btn-container-mobile {
    display: initial;
    padding: 8px 16px;
    background-color: #ffffff;
  }
  .posts-container {
    display: none;
  }
  .posts-container-mobile {
    display: initial;
  }
  .nav-mobile {
    display: initial;
    padding: 10px 0 0 0;
    background-color: #ffffff;
    margin: 0 0 8px 0;
  }
  .display-mobile {
    display: initial !important;
  }
  .display-desktop {
    display: none !important;
  }
}
