.pages-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 0;
}
.pages-list li {
  list-style: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.pages-list img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.pages-list p {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6d747a;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.color-light {
  color: #08090a;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin-bottom: 1rem;
}

.about-text {
  margin: 0 !important;
}

.about-text ol,
.about-text ul {
  padding-left: 1rem;
}

.profile-left-aside {
  position: -webkit-sticky;
  top: 215px;
  position: sticky;
  transition: 0.6s;
  height: fit-content;
  overflow: auto;
}

.other-info-heading {
  display: none;
  margin: 0 0 200px 0;
}

.other-info-subheading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.nav-mobile {
  display: none;
}

.posts-container-mobile {
  display: none;
}
.display-desktop {
  display: initial;
}

.display-mobile {
  display: none !important;
}

.display-none {
  display: none !important;
}
.display-initial {
  display: initial !important;
}

@media screen and (max-width: 1100px) {
  .profile-left-aside {
    position: static;
    height: auto !important;
    overflow: auto;
  }
  .display-mobile {
    display: initial !important;
  }

  .display-desktop {
    display: none !important;
  }

  .nav-mobile {
    display: flex;
    padding: 10px 0 0;
    background-color: #ffffff;
    margin: 0 0 8px 0;
  }

  .display-flex-col {
    display: flex !important;
    flex-direction: column;
  }

  .about-text {
    display: none;
  }

  .about-text-mobile {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    margin-bottom: 0px !important;
    max-width: 100%;
  }

  .other-info-heading {
    display: initial;
  }
  .other-info-mob-div {
    margin-top: 20px;
    margin-bottom: -10px !important;
  }

  .posts-container {
    display: none;
  }

  .posts-container-mobile {
    display: initial;
  }
}
