.posts-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

/*  */
.start-post-btn-container {
  padding: var(--spacing-12) var(--spacing-16);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: var(--spacing-12);
  /* border: 0; */
  border: 2px solid #ebedf0;
}

.start-post-btn-container-mobile {
  display: none;
}

.start-post-btn {
  padding: var(--spacing-12) var(--spacing-16);
  width: 100%;

  display: flex;
  align-items: center;
  gap: var(--spacing-4);

  border: none;
  border-radius: 60px;

  background: #f7f5f9;
  cursor: pointer;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8064a2;
}

.posts-container-mobile {
  display: none;
}

.nav-mobile {
  display: none;
}

.profile-left-aside {
  position: -webkit-sticky;
  top: 215px;
  position: sticky;
  transition: 0.6s;
  height: calc(
    100vh - calc(var(--navbar-height-desktop) + var(--spacing-24) + 9rem)
  );
  overflow: auto;
}

.display-mobile {
  display: none !important;
}

.display-desktop {
  display: initial !important;
}

.display-none {
  display: none !important;
}
.no-posts-container {

  margin: 0;
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: 8px;
  border: 2px solid #ebedf0;
  height: 10rem;
  background-color: #ffffff;
}
.no-posts-container p{
  font-size: 14px;
  font-weight: 500;
  color: rgba(var(--gray-100-rgb));
}
@media screen and (max-width: 1100px) {
  .start-post-btn-container {
    display: none;
  }
  .start-post-btn-container-mobile {
    display: initial;
    padding: 8px 16px;
    background-color: #ffffff;
  }
  .posts-container {
    display: none;
  }
  .posts-container-mobile {
    display: block;
    height: 90vh;
    /* min-height: calc(100vh - 107px - 56px); */
  }
  .nav-mobile {
    display: initial;
    padding: 10px 0 0 0;
    background-color: #ffffff;
    margin: 0 0 8px 0;
  }
  .display-mobile {
    display: initial !important;
  }
  .display-desktop {
    display: none !important;
  }
  .profile-left-aside{
    position: static;
    height: auto;
  }
}
