.hobby-list {
  margin-top: var(--spacing-16);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-16);
  column-gap: var(--spacing-8);
}

.dual-section-wrapper-desktop {
  display: flex;
  gap: 24px;
  align-items: start;
}

.no-posts-div {
  width: 100%;
  height: 14rem;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-posts-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}

.profile-left-aside {
  position: -webkit-sticky;
  top: 222px;
  position: sticky;
  transition: 0.6s;
  height: calc(
    100vh - calc(var(--navbar-height-desktop) + var(--spacing-24)) + 3rem
  );
  overflow: auto;
}

.hobby-list li {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* display: flex;
    align-items: flex-end; */
  letter-spacing: -0.01em;
  color: #8064a2;
}
.hobby-list li.active {
  color: #8064a2;
  font-weight: 500;
}

ul.location-wrapper,
ul.contact-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

ul.location-wrapper li,
ul.contact-wrapper li {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
ul.location-wrapper svg,
ul.contact-wrapper svg {
  max-width: 1.5rem;
  width: 100%;
  aspect-ratio: 1/1;
}

.card-container {
  display: flex;
  row-gap: 12px;
  column-gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-mobile {
  display: none;
}
.card-container-mobile {
  display: none;
}

.display-mobile {
  display: none !important;
}
.display-none {
  display: none !important;
}
@media screen and (max-width: 1100px) {
  .card-container {
    display: none !important;
  }
  .card-container-mobile {
    display: flex;
    row-gap: 12px;
    column-gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav-mobile {
    display: initial;
    padding: 10px 0 0 0;
    margin: 0 0 8px 0;
    background-color: #ffffff;
  }
  .display-mobile {
    display: initial !important;
  }
  .dual-section-wrapper-desktop{
    display: none;
  }
  .dual-section-wrapper-mobile {
    display: flex;
    gap: 24px;
    align-items: start;
    padding-bottom: 16px;
  }
  .no-posts-div {
    border-radius: 0;
  }
  .profile-left-aside{
    height: auto;
    position: static;
  }
}
