.modal-container {
  position: relative;
  background-color: white;
  border-radius: var(--spacing-8);
}
.modal-container .header {
  padding: var(--spacing-16) var(--spacing-24);
}

.modal-heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.step-indicators {
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 27px;
  z-index: 20;
}

.step-indicators .step {
  width: 12px;
  height: 12px;
  border: 1px solid rgb(var(--primary-100-rgb));
  border-radius: 100%;
}
.step-indicators .step.active {
  background-color: rgb(var(--primary-100-rgb));
  cursor: pointer;
}

.step:focus-visible{
  border: none;
  outline: none;
  position: relative;
}
.step:focus-visible::before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-color: transparent;
    border: 1px solid rgb(var(--primary-100-rgb));
    border-radius: 50%;

}

.modal-heading-hr {
  display: none;
}

.responsive-logo {
  display: none;
}

@media screen and (min-width: 1100px) {
  .modal-container {
    min-height: 20rem;
    height: calc(100vh - 2rem) ;
    max-height: 60rem;
    min-width: 600px;
  }
}

@media screen and (max-width: 1100px) {
  .modal-container {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .modal-heading {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  .step-indicators {
    position: fixed;
    bottom: 30px;
    justify-content: center;
    gap: 27px;
    z-index: 1001;
  }
  .modal-heading-hr {
    display: block;
  }
  .modal-container .header {
    position: sticky;
    top: 0;
    padding: var(--spacing-12) var(--spacing-16);
    display: flex;
    align-items: center;
    gap: 38px;
    background: var(--Base-White, #fff);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
    z-index: 10;
  }
  .responsive-logo {
    display: block;
  }
}
