.modal-container {
  position: relative;
  background-color: white;
  border-radius: var(--spacing-8);
}
.modal-container .header {
  padding: var(--spacing-16) var(--spacing-24);
}

.modal-heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.step-indicators {
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);

  display: flex;
  gap: 27px;
}

.step-indicators .step {
  width: 12px;
  height: 12px;
  border: 1px solid rgb(var(--primary-100-rgb));
  border-radius: 100%;
}
.step-indicators .step.active {
  background-color: rgb(var(--primary-100-rgb));
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .step-indicators {
    bottom: 72px;
  }
}
@media screen and (min-width: 1100px) {
  .modal-container {
    min-height: 20rem;
    height: calc(100vh - 2rem) ;
    max-height: 60rem;
    min-width: 600px;
  }
}

@media screen and (max-width: 1100px) {
  .modal-container {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }

  .step-indicators {

    bottom: 66px;
    transform: translateX(-50%);
    display: flex;
    gap: 27px;
  }
}