.modal-wrapper {
  background-color: white;
  width: 63rem;
  /* width: 100%; */
  mix-blend-mode: normal;
  border-radius: var(--spacing-8);
}
.modal-heading {
  padding: var(--spacing-16) var(--spacing-24);
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.create-post-modal {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--spacing-40) + var(--spacing-8));
  padding: 0 var(--spacing-24);
}

.create-post-modal > section {
  flex-grow: 1;
  height: 485px;
  border-radius: 8px;
}
.create-post-modal > aside {
  width: 242px;
  min-width: 242px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  padding-bottom: 16px;
  padding-top: 0;
  z-index: 2;
}

.create-post-modal > aside div {
  display: grid;
  flex-direction: column;
  gap: var(--spacing-4);
  background-color: #ffffff;
  border-radius: 8px;
}

.create-post-modal > aside div label {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;

  background-color: #f8f9fA;
  z-index: 1;
}

.who-can-view {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  padding: var(--spacing-12);
  width: 100%;

  background: #ffffff;

  border: 1px solid #ced4da;
  border-radius: 8px;
}
.who-can-view .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6d747a;
}
.who-can-view svg {
  margin-left: auto;
}

/* Dropdown */
.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  position: relative;
  /* margin-bottom: var(--spacing-32); */
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  background: #fff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: calc(var(--spacing-8) + var(--spacing-4));

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  min-width: 6.25rem;
  border: 1px solid #ced4da;
  border-radius: 8px;
  max-width: 215px;
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
  outline: 1px solid rgb(var(--primary-10-rgb));
}
.input-box:has(input[required]) label::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-wrapper .dropdown {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + var(--spacing-4));
  background: #ffffff;
  border-radius: var(--spacing-4);
  padding: var(--spacing-4);
  filter: drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36))
    drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12));
  z-index: 20;
}
.dropdown-wrapper .dropdown p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.005em;

  border-radius: 4px;
  padding: var(--spacing-8);
  color: #6d747a;
  cursor: pointer;
}
.dropdown-wrapper .dropdown p:hover {
  background: #f7f5f9;
  color: #8064a2;
}

.create-post-btn {
  border: none;
  width: 99px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background: #8064a2;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-top: auto;
}
.imgWrapper {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  column-gap: 12px;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
}
.videoWrapper {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  column-gap: 12px;
  position: relative;
  overflow: hidden;
}
.imgContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  column-gap: 12px;
  position: relative;
}
.imgContainer > img {
  max-width: 185px;
  object-fit: cover;
  height: 100%;
  max-height: 150px;
}
.editor-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.visibility-dropdown > div {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 0;
  padding-left: 8px;
  width: -webkit-fill-available;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6d747a;
}
.relative {
  position: relative;
}
.img-cancel-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px !important;
  cursor: pointer;
  z-index: 40;
}
.input-box.error-input-box > div:hover fieldset {
  border: 1px solid rgba(192, 80, 77, 1);
}
.input-box.error-input-box > div > fieldset {
  border: 1px solid rgba(192, 80, 77, 1);
  color: rgba(192, 80, 77, 1);
}
.error-text {
  color: rgba(192, 80, 77, 1);
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -4px;
  transform: translateY(100%);
  left: 0;
}
.dropdown-value {
  padding-left: 8px;
  padding-right: 8px;
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 290px;
  height: 100%;
  background-color: #f8f9fa;
  z-index: 1;
  border-radius: 0 8px 8px 0;
}
.posting-as-container {
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 1100px) {
  .create-post-modal {
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .modal-wrapper {
    /* max-width: 350px; */
    width: 100%;
  }
  .create-post-btn {
    width: 100%;
  }
  .background {
    display: none;
  }
}
  .modal-heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 29%;
    height: 100%;
    left: 71%;
    background-color: #F8F9FA;
    border-radius: 0 8px 8px 0;
    
  }