.hobbyInput {
  /* align-self: flex-start; */
  max-width: 45%;
  z-index: 9;
  top: 55px;
  left: 3px;
  background-color: #fff;
  min-height: 35px;
  width: fit-content;
  position: absolute;
  display: flex;
  align-items: center;
  row-gap: var(--spacing-8);
  column-gap: var(--spacing-8);
  animation: fadeDown 0.3s ease forwards;
  overflow: hidden;
  padding-left: 5px;
}

.hobbyInput li {
  list-style: none;
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));
  background: #f7f5f9;
  border-radius: 24px;
  border: 1px solid #8064a2;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #8064a2;
  display: flex;
  align-items: center;
  gap: 4px;
}
.hobbyInput li.active {
  color: #8064a2;
  font-weight: 500;
}

.hobbyInputButton:focus {
  outline: 2px solid #8064a2;
}
.noWrap {
  text-wrap: nowrap;
}
.z10{
  z-index: 10;
  position: absolute;
  width: 100%;
}
.z20{
  z-index: 20;
}

@media screen and (max-width: 1100px) {
  .hobbyInput {
    max-width: 84%;
    z-index: 10;
    top: 66px;
    left: 3px;
    background-color: #fff;
    min-height: 35px;
    width: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    row-gap: var(--spacing-8);
    column-gap: var(--spacing-8);
    animation: fadeDown 0.3s ease forwards;
    overflow: hidden;
    padding-left: 5px;
  }
}
