.wrapper {
  background: #ffffff;
  /* Grey/Lighter */

  border: 1px solid #ebedf0;
  border-radius: var(--spacing-8);
  max-width: 726px;
  
  padding: 9px var(--spacing-16);
  padding-top: 16.4px !important;
}
.loader-container {
  max-width: 800px; 
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width:1100px){

  .wrapper{
    background: #ffffff;
  /* Grey/Lighter */

  border: 1px solid #ebedf0;
  border-radius: var(--spacing-8);
  max-width: 1017px;
  padding: var(--spacing-16);
  }
}
  
@media screen and (min-width:1100px) {
  .content-loader > rect {
    height: 125%;
  }
}