.container {
   width: 38px;
   border-radius: 50px;
   height: 20px;
   border: 1px solid #8064A2;
   position: relative;
}

.active {
   background-color: #8064A2;
   border: 1px solid #8064A2;
}

.circle {
   background-color: #8064A2;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   transition: 0.1s;
}

.inactiveCircle {
   left: 2px;
}
.activeCircle {
   background-color: white;
   right: 2px;
}