.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  min-height: auto;
  display: flex;
  flex-direction: column;
}
.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.body {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 3rem;
}
.body img{
   width: 50px;
   height: 50px;
}
.body button{
  box-shadow: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.body img{
  text-align: justify;
  margin:0 auto;
  display: block;
  margin-bottom: 5px;

}
