.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  min-height: auto;
  display: flex;
  flex-direction: column;
}
.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.body {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.body img{
   width: 50px;
   height: 50px;
}