.border-div {
  background-color: #8064a2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30.31px;
  height: 35px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.community-left-aside,
.community-right-aside {
  position: sticky;
  top: calc(var(--navbar-height-desktop) + var(--spacing-12));
}
.community-left-aside,
.community-right-aside {
  height: calc(100vh - calc(var(--navbar-height-desktop) + var(--spacing-24)));
  overflow: auto;
}

.desktop-members-conatiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Grey-Lighter, #ebedf0);
  background: var(--Base-White, #fff);
  margin-bottom: 12px;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  height: 198px;
}

.desktop-members-conatiner header {
  display: flex;
  width: 100%;
  padding: 16px 16px 8px 16px;
  align-items: center;
  gap: 10px;
  color: var(--Black, #000);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.desktop-members-conatiner .member {
  display: flex;
  width: 100%;
  padding: 7px 16px;
  align-items: center;
  justify-content: space-between;
}

.desktop-members-conatiner .member .img-name {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.desktop-members-conatiner .member .img-name img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #8064a2;
}
.img-name-listing {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  cursor: pointer;
}

.img-name-listing img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #8064a2;
  object-fit: contain;
}

.img-name-listing p {
  color: var(--Grey-Darker, #08090a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desktop-members-conatiner .member .img-name p {
  color: var(--Grey-Darker, #6d747a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.see-all {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  margin-bottom: 8px;
}

.see-all p {
  color: var(--Primary-Full, #8064a2);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
}

.desktop-members-conatiner .member .admin-btn {
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Blue-1, #0096c8);
  background: #fff;
  color: var(--Blue-1, #0096c8);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2.5px 5.37px;
  cursor: pointer;
}

.community-header-small {
  display: flex;
  column-gap: 24px;
}
.community-header-small > .community-header-left {
  max-width: 726.42px;
  flex: 4;
}
.community-header-small .invite-container-main {
  flex: 1;
}
.community-header > section {
  box-shadow: 0 2px 8px rgba(222, 222, 222, 0.766);
}
.community-header .top-margin-card {
  height: var(--navbar-height-desktop);
  background: #f8f9fa;
}

.single-post-children-wrapper {
  transform: translate(0);
}
/* Side Hobby Wrapper */
.hobbies-side-wrapper {
  margin-bottom: var(--spacing-12);
}
.hobbies-side-wrapper header {
  padding: 16px 16px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
.hobbies-side-wrapper header img {
  cursor: pointer;
}
.hobbies-side-wrapper span.divider {
  background: #ebedf0;
  display: block;
  height: 1px;
  width: 100%;
}
.hobbies-side-wrapper section ul {
  list-style: none;
  padding: var(--spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  max-height: 600px;
  overflow-y: hidden;
}
.hobbies-side-wrapper section ul li {
  border-radius: 4px;
  padding: 8px;
  min-height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: var(--grey-dark, #939ca3);
  cursor: pointer;
}
.hobbies-side-wrapper section ul li:hover {
  background: #ccc1da;
  color: #8064a2;
  transition: 0.3s;
}
.hobbies-side-wrapper section ul li.selectedItem:hover {
  background: #ccc1da;
}

.hobbies-side-wrapper section ul li.selectedItem {
  color: var(--purple-1, #8064a2);
  padding: 8px;
}

/* Side Location Wrapper */
.location-side-wrapper {
  margin-bottom: var(--spacing-16);
}
.location-side-wrapper header {
  padding: var(--spacing-16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
.location-side-wrapper header img {
  cursor: pointer;
}
.location-side-wrapper span.divider {
  background: #ebedf0;
  display: block;
  height: 1px;
  width: 100%;
}
.location-side-wrapper section ul {
  list-style: none;
  padding: var(--spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
.location-side-wrapper section ul li {
  border-radius: var(--spacing-8);
  padding: var(--spacing-4) var(--spacing-8);

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #8064a2;
  cursor: pointer;
}
.location-side-wrapper section ul li:hover {
  background: #f7f5f9;
}
.location-side-wrapper section ul li.selectedItem:hover {
  background: #f7f5f9;
}

/* Invite to Community Wrapper */
.invite-wrapper {
  margin-bottom: var(--spacing-12);
}
.invite-wrapper header h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.invite-wrapper header {
  padding: var(--spacing-16) var(--spacing-16) 5px var(--spacing-16);
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--Grey-Dark, #939ca3);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.invite-wrapper header span {
  color: var(--Grey-Darkest, #08090a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.invite-wrapper span.divider {
  background: #ebedf0;
  display: block;
  height: 1px;
  width: 100%;
}
.invite-wrapper > section {
  padding: var(--spacing-16);
  display: flex;
  align-items: stretch;
  position: relative;
}
.invite-wrapper > section input {
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--purple-1, #8064a2);
  background: var(--grey-white, #fff);
  outline: none;
  padding-left: 10px;
  color: #191919;
  font-size: 12px;
}

.invite-wrapper > section input.error-input {
  border: 1px solid #c0504d;
}

.invite-wrapper > section button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 59px;
  padding: 12px 10px 12px 10px;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
.invite-loader-btn {
  padding: 7.6px 10px !important;
}
.invite-wrapper > section .input-prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  color: #939ca3;
}
/* Trending Hobby Wrapper */
.trending-hobbies-side-wrapper {
  margin-bottom: var(--spacing-16);
}
.trending-hobbies-side-wrapper header {
  padding: var(--spacing-16) var(--spacing-16) var(--spacing-8);
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
.trending-hobbies-side-wrapper span.divider {
  background: #ebedf0;
  display: block;
  height: 1px;
  width: 100%;
}
.trending-hobbies-side-wrapper section ul {
  list-style: none;
  padding: var(--spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
.trending-hobbies-side-wrapper section ul li {
  border-radius: var(--spacing-8);
  padding: var(--spacing-4) var(--spacing-8);
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.trending-hobbies-side-wrapper section ul li a {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--spacing-8);
}
.trending-hobbies-side-wrapper section ul li .default-img {
  width: var(--spacing-32);
  height: var(--spacing-32);
  background-color: rgba(128, 128, 128, 0.431);
  border-radius: 100%;
}

/*  */
.start-post-btn-container {
  padding: 20px var(--spacing-16) var(--spacing-12) var(--spacing-16);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.start-post-btn-container :hover {
  background-color: #8064a2;
  color: white;
  transition: 0.3s;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(var(--primary-100-rgb));

  display: none;
}

.start-post-btn {
  padding: var(--spacing-12) var(--spacing-16);
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-4);

  border: none;
  border-radius: 60px;

  background: #f7f5f9;
  cursor: pointer;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8064a2;
}

.start-post-btn:hover path {
  fill: white;
}

.start-post-btn:focus-visible {
  outline: 1px solid rgb(var(--primary-50-rgb));
}

.navigation-links {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.navigation-links ul {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0 0px;
}
.navigation-links a {
  color: #939ca3;
}
.navigation-links ul li {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 5px 0px 5px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 111px;
  min-width: 90px;

  color: var(--Grey-Dark, #939ca3);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */

  position: relative;
}

.navigation-links ul li.active a {
  color: #8064a2;
}

.active-tab {
  width: 91;
  height: 2.74;
  background: '#8064A2';
  border-top-left-radius: 2;
  border-top-right-radius: 2;
}

.navigation-links ul li.active ::after {
  text-decoration: underline #8064a2;
  transform: scaleX(1);

  content: '';
  bottom: 0;
  left: 0;
  position: absolute;

  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.navigation-links ul li:first-of-type {
  margin-left: -8px;
}

.navigation-links ul li.active::after {
  content: '';
  bottom: 0;
  left: 9.01%;
  width: 81.98%;
  max-width: 91px;
  height: 2px;
  position: absolute;
  background: #8064a2;
  border-radius: 2px 2px 0px 0px;
  display: flex;
}

.posts-container {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}
.selectedItem {
  background-color: #dfd8e7;
}
.community-group-container {
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  position: static;
  /* transform: translateY(calc(-1 * var(--navbar-height-desktop))); */
}
.community-group-header {
  display: flex;
  align-items: center;
}
.community-group-container .profile-img-container {
  width: 220px;
  height: 220px;
}
.community-group-container .profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.community-group-container .cover-img-container {
  flex: 1;
  margin-left: 1rem;
  height: 220px;
}
.community-group-container .cover-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.community-group-container p {
  color: var(--grey-darkest, #08090a);
  font-size: 16px;
  font-family: Poppins;
  margin-top: 8px;
  margin-left: 8px;
}
.location-select {
  border-radius: 8px;
  font-size: 14px;
  font-family: Poppins;
  color: #fff !important;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  background-color: #8064a2;
}

.location-select header p {
  color: #fff !important;
  font-size: 12px;
}
.location-select header svg g path {
  fill: #ffffff;
}
.hobby-select {
  max-height: 32px;
  border-radius: 8px;
  max-width: 150px;
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 20px;
  color: #8064a2;
  border: 1px solid var(--Primary-Half, rgba(128, 100, 162, 0.5));
  background: var(--Purple-3, #f7f5f9);
}

.hobby-select > div {
  left: 0 !important;
}

.location-select > div {
  padding: 10px;
  border: 0;
  outline: 0;
}
.location-select fieldset {
  border: none !important;
}
.filter-section {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  display: none;
}
.filter-section > p {
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
  color: #6d747a;
}
.filter-section > div {
  display: flex;
  column-gap: 8px;
  align-items: center;
  width: 100%;
}

.location-dropdown {
  border: none !important;
  border-radius: 0;
}
.location-side-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.location-dropdown > header {
  display: none;
}
.location-dropdown > div {
  max-height: 1000px;
  top: 0;
  box-shadow: none;
  border: 1px solid #ebedf0;
  border-top: none;
  padding-bottom: 12px;
}
.location-dropdown > div > div {
  border-bottom: 0;
}

.location-dropdown-container p {
  line-height: 18px;
}
.location-dropdown-container aside {
  height: min-content;
}

.see-more {
  text-align: center;
  color: #8064a2;
  cursor: pointer;
  font-size: 14px;
}
.error-invite {
  position: absolute;
  bottom: 0px;
  left: 25px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #c0504d;
  min-height: 1rem;
}

.panel-dropdown-btn {
  display: none;
}

.dropdowns-panel {
  display: none;
}
.img-listing {
  display: none;
}

.help-centre-btn {
  cursor: pointer;
  display: flex;
  height: 40px;
  padding: 6px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Primary-Full, #8064a2);
  background: var(--Base-White, #fff);
  width: 100%;
}

.help-centre-btn:focus-visible {
  outline: 1px solid var(--Primary-Full, #8064a2);
  border: none;
}

.help-centre-btn p {
  color: var(--Primary-Full, #8064a2);

  /* Text sm/Semibold */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
}

.profileImage {
  width: 28.58px;
  height: 33px;
  position: relative;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));
}

@media screen and (max-width: 1100px) {
  .community-left-aside,
  .community-right-aside {
    height: auto;
  }
  .hobbies-side-wrapper {
    display: none;
  }
  .location-side-wrapper {
    display: none;
  }
  .community-header {
    top: 8px;
    border-radius: 0;
  }
  .community-group-container {
    display: none;
  }
  .filter-section {
    display: flex;
    gap: 12px;
  }

  .error-invite {
    min-height: unset;
    line-height: 12px;
  }

  .panel-dropdown-btn {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid #8064a2;
    border-radius: 50%;
    background: var(--Purple-3, #f7f5f9);
  }
  .userimg img {
    border-radius: 50% !important;
  }

  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .dropdowns-panel {
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -16px; /* Added this to override parent's padding of 16px and adding full length border */
    animation: fadeDown 0.3s ease forwards;
  }

  .dropdowns-panel .parent-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--Grey-Light, #ced4da);
  }

  .dropdowns-panel .parent-list .list {
    display: flex;
    width: 100%;
    padding: 15px 14px 15px 16px;
    justify-content: space-between;
    align-items: center;
  }

  .dropdowns-panel .parent-list .list p {
    color: var(--Grey-Darkest, #08090a);

    /* Text sm/Semibold */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 114.286% */
  }
  .member-invite {
    display: flex;
    width: 100%;
    padding: 0px 16px 12px 16px;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .member-invite section {
    padding: 0;
    width: 100%;
  }

  .member-invite section input {
    height: 32px;
  }
  .member-invite section button {
    height: 32px;
    border-radius: 0px 8px 8px 0px;
    background: var(--Primary-Full, #8064a2);
    padding: 0 12px;
    color: var(--Grey-white, #fff);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.06px;
  }

  .dropdowns-panel .parent-list .options-parent {
    display: flex;
    padding: 0px 14px 0px 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
    transition: all 0.3s ease;
    animation: fadeDown 0.3s ease forwards;
  }

  .dropdowns-panel .parent-list .no-gap {
    gap: 0;
  }
  .dropdowns-panel .parent-list .no-padding {
    padding: 0;
  }
  .dropdowns-panel .parent-list .options-parent .member-container {
    display: flex;
    padding: 7px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
  }
  .dropdowns-panel .parent-list .options-parent .member-container .see-more {
    color: var(--Primary-Full, #8064a2);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.07px;
  }
  .dropdowns-panel .parent-list .options-parent .member-container .admin-btn {
    border-radius: 2px;
    border: 1px solid var(--Blue-1, #0096c8);
    background: var(--Grey-white, #fff);
    padding: 0 4.66px;
    color: var(--Blue-1, #0096c8);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
  }
  .dropdowns-panel .parent-list .options-parent .member-container a {
    color: var(--Grey-Darker, #6d747a);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.07px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .dropdowns-panel .parent-list .options-parent .member-container a p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 64px);
  }

  .dropdowns-panel .parent-list .options-parent .member-container a img {
    border-radius: 4px;
    border: 1px solid #8064a2;
  }

  .dropdowns-panel .parent-list .options-parent .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .options-parent .option .hobby-option {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .options-parent .option .hobby-option p {
    color: var(--Grey-Darkest, #08090a);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .comnity-left-aside,
  .community-right-aside {
    position: static;
    overflow: visible;
    display: none;
  }
  .invite-container-main {
    display: none;
  }
  .navigation-links a {
    font-size: 12px;
    line-height: 18px;
  }
  .navigation-links ul {
    justify-content: flex-start;
    gap: 0px;
  }
  .navigation-links ul li {
    padding: 8px 0px !important;
    min-width: 60px !important;
    max-width: 30px !important;
    width: 100%;
    height: auto;
  }
  .navigation-links ul li:first-of-type {
    margin-left: 0;
  }
  /* .community-right-aside{
    display: none;
  } */

  .community-header {
    border-radius: var(--spacing-8);
    transform: translateY(calc(0 * var(--navbar-height-desktop)));
    z-index: 2;
    background-color: white;
    padding: 8px 16px;
    position: relative;
  }
  .community-header .top-margin-card {
    height: 0;
  }
  .start-post-btn {
    padding: var(--spacing-8) var(--spacing-8);
  }

  .start-post-btn-container {
    padding: 6px 0px;
    border-radius: 0;
  }
  .navigation-links {
    right: 8px;
  }

  .navigation-links ul li {
    padding: 8px;
  }

  .hobby-select {
    min-width: calc(100vw - 32px - 68%);
  }

  .location-select > div {
    font-size: 14px;
    padding: 0;
    border: 0;
    outline: 0;
  }
  .location-select {
    width: 150px;
  }
  .location-select header {
    max-height: 32px;
  }
  .hobbyDropDownOption {
    color: var(--Grey-Darker, #6d747a);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .editLocation {
    color: var(--Grey-Darker, #6d747a);
    font: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 0.07px;
  }
  .editLocationResponsive {
    margin-left: auto;
  }

  .hobbyeditresponsive {
    margin-left: auto;
  }

  .profile-img {
    display: block;
  }
  .profile-img-user {
    width: 46.8px !important;
  }

  .img-listing {
    display: block !important;
    width: 45px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(var(--primary-100-rgb));
  }
}

@media screen and (min-width: 1100px) {
  .desktop-profile-switcher-class {
    /* left: 15px !important;
    width: calc(100% - 15px) !important; */
    box-shadow: 0px 8px 6px -4px rgba(147, 156, 163, 0.12),
      0px 0px 2px 0px rgba(147, 156, 163, 0.36);
  }
}

.mb-15 {
  margin-bottom: 15px;
}

.pos-relative {
  position: relative;
}

.defaultImg {
  max-width: 32px;
  min-width: 32px;
  width: 100%;
  height: 32px;
  object-fit: contain;
  border-radius: 8px;
  border: 1px solid rgb(var(--primary-50-rgb));
}
