.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
}
.quill {
  width: 100%;
}
.ql-blank {
  width: 100%;
}
.ql-toolbar {
  width: 100%;
}

.hidden {
  display: none;
}
.quill {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.quill .ql-container {
  border-top: 1px solid #ccc;
  width: 100%;
  /* padding-inline: ; */
  margin-inline: auto;
}

