.container {
  background: #f8f9fa;
  min-height: 400px;
  padding: 24px;
}

.grid-container {
  display: grid;
  align-items: start;
  gap: var(--spacing-24);
}
.grid-container[data-column='3'] {
  grid-template-columns: 14rem auto 18rem;
}
.grid-container[data-column='2'] {
  grid-template-columns: 14rem auto;
}
