.container {
    border-radius: 8px;
    background-color: var(--purple-3, #f7f5f9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .non-editable{
    border: none;
  }
  .editable{
    border: 1px dashed var(--purple-1, #8064a2);
  
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 14px;
    cursor: pointer;
  }
  
  .wrapper p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #8064a2;
  }
  .wrapper input{
     display: none;
  }

  .img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .header {
    display: flex;
    padding: var(--spacing-16) var(--spacing-16);
  }

  .modal-close-icon {
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
    border-radius: 100%;

    z-index: 10;
  }
  @media screen and (max-width: 1100px) {
  .header {
    padding: 0;
    display: block;
  }

  .modalHeaderMobile {
    background-color: white;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .modalHeaderMobile svg {
    margin-left: auto;
    height: 20px;
    width: 20px;
  }

  /* .modal-close-icon {
    position: fixed;
    top: 10px;
    right: 12px;
    cursor: pointer;
    border-radius: 100%;

    z-index: 10001;
  } */

  .imageModalContent {
    width: 100%;
  }
}