.data-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.no-data-div {
  width: calc(50% - 12px);
  height: 10rem;
  background-color: #ffffff;
  padding: var(--spacing-12) var(--spacing-16);
  border-radius: 8px;
  border: 2px solid rgb(242, 242, 242);
}

.no-data-text {
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}

.review-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
}

.review-container {
  display: flex;
   width: calc(50% - 12px); 
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Grey-Lighter, #EBEDF0);
  background: var(--Base-White, #FFF);
  /* height: min-content; */
}

.add-review-btn{
  display: flex;
  width: calc(50% - 12px); 
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 8px;
border: 1px dashed var(--Primary-Full, #8064A2);
background: #FFF;
cursor: pointer;
min-height: 88px;
}

.add-review-btn p{
  color: var(--Purple-1, #8064A2);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 114.286% */
}

.review-container img {
  width: 37px;
  height: 37px;
  border-radius: 37px;
}

.review-content {
  display: flex;
  /* height: 121px; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 14px;
}

.review-content-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.review-username {
  color: var(--Black, #000);
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 114.286% */
}

.review-date {
  color: #6D747A;
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
}

.review-container .review {
  color: #6D747A;
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 200% */
}

@media screen and (max-width: 1100px) {
  .data-container {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
  }

  .no-data-div {
    border-radius: 0;
  }

  .review-container{
    width: 100%;
  }

  .add-review-btn{
    display: none;
  }
}