.button {
  background-color: transparent;
  color: rgba(var(--primary-100-rgb));
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 1.8rem;
  border: 1px solid rgba(var(--primary-100-rgb));
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(var(--primary-100-rgb));
  color: white;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
