.wrapper {
  padding: 16px;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  margin-bottom: 1rem;
}
.title {
  margin-bottom: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
