@media (max-width: 1100px) {
  .blogFilterParent {
    height: fit-content;
    width: 91%;
    translate: 0 116px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
  }

  .blogFilterParent > span {
    position: absolute;
    top: -15px;
    right: 3px;
  }
}
