.loader-wrapper {
  background-color: rgba(0, 0, 0, 0.415);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
