.mainContainer {
  max-width: 719px;
  width: 100%;
  background-color: white;
}

.mainWrapper {
  width: 100%;

  margin: 0 auto;
  border-radius: 8px;

  padding: 2px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}
.title {
  color: black;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.inputbox {
  margin-bottom: 1.2rem;
}

.inputbox label,
.inputPhoneBox label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6d747a;
}

.inputbox input,
.inputbox select,
.inputbox textarea {
  width: 100%;
  height: 40px;
  padding: 12px;
  gap: 0px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid #ebedf0;
  border-radius: 4px;
}
.inputbox input:focus-visible,
.inputbox textarea :focus-visible,
.inputbox select:focus-visible {
  outline: 1px solid #8064a2;
}
.inputbox input::placeholder,
.inputbox select::placeholder,
.inputbox textarea ::placeholder {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #939ca3;
}

.inputbox textarea {
  min-height: 100px;
  resize: vertical;
}
.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 20px 0px;
}

.saveButton {
  width: 99px;
  height: 40px;
  padding: 12px 33.5px 12px 33.5px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #0096c8;
  color: #ffffff;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 3rem;
}
.inputPhoneBox {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
  outline: none;
}
.phoneWrapper {
  display: flex;
  width: 100%;
}

.phoneInput {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ebedf0;
  border-radius: 4px;
  outline: none;

  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.phoneInput:focus-visible {
  outline: 1px solid #8064a2;
}
.prefix {
  max-width: 60px;
  width: 100%;
  height: 100%;
  padding: 0.8rem 0;
  font-size: 1rem;
  border: 1px solid #ebedf0;
  border-radius: 4px;
  outline: none;
  color: #939ca3;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.prefix:focus-visible {
  outline: 1px solid #8064a2;
  margin-right: 1px;
}
.longInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.longInputContainer label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6d747a;
}

.longInputContainer input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ebedf0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.longInputContainer input:focus-visible {
  outline: 1px solid #8064a2;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

.Addressinputbox {
  display: flex;
  flex-direction: column;
}
.Addressinputbox:focus-visible {
  outline: 1px solid #8064a2;
}

.Addressinputbox label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6d747a;
}

.Addressinputbox input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ebedf0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.Addressinputbox input:focus-visible {
  outline: 1px solid #8064a2;
}
.error {
  color: red;
  font-size: 12px;
}
@media (max-width: 768px) {
  .twoColumnGrid {
    grid-template-columns: 1fr;
  }
}

.completeAction {
  margin-top: 10px;
  color: black;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.h2 {
  color: black;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.lastLogin h3 {
  color: black;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.lastLogin span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6d747a;
}

.auditFields {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
  margin-top: 16px; 
  border-top: 1px solid #0096c8; 
  padding-top: 16px; 
}

.auditField {
  display: flex;
  flex-direction: column; 
}

.auditField .label {
  font-weight: 400;
  color: #0096c8; 
  margin-bottom: 4px; 
}

.auditField .value {
  font-size: 14px;
  color: #333;
}
