.dropdown-container {
  position: relative;
  padding: 0 8px;
  border-bottom: 1px solid #ced4da;
  margin-top: 4px;
}
.dropdown-container:last-child {
  border-bottom: 0;
}
.dropdown-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.drop-down {
  display: flex;
  align-items: center;
  padding: 11px;
}
.heading {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  flex-direction: row !important;
  align-items: center;
  padding: 7px 8px;
  width: 180px;
  min-height: 32px;
}

.heading:hover {
  background-color: #ccc1da;
  border-radius: 4px;
  transition: 0.3s;
}

.heading::selection {
  color: #8064a2;
}

.heading .icon {
  transition: rotate(180deg);
  transition: 0.3s;
}
.drop-down:hover {
  border-radius: 4px;
  background-color: #ccc1da;
  transition: 0.3s;
}
.icon-active {
  transition: 0.3s;
  transform: rotate(180deg);
}
.dropdown-container p.dropdown-value {
  color: var(--grey-dark, #939ca3);
  padding-left: 16px;
  min-height: 32px;
}

.dropdown-options {
  max-height: 0;
  transition: 0.1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dropdown-options.active {
  max-height: 1200px;
}
.value-container {
  padding-left: 8px;
  padding-right: 8px;
  /* border-bottom: 1px solid #ced4da; */
}
p.dropdown-value {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  line-height: 18px;
  border-radius: 4px;
}

p.dropdown-value:hover{
  background: #ccc1da !important;
  color: #8064a2;
  transition: 0.3s;
}

p.dropdown-value-active {
  background-color: #DFD8E7;
  color: #8064a2 !important;
  border-radius: 4px;
  /* width: 218px; */
}
.dropdown-options p.option-active {
  background-color: #DFD8E7;
  color: #8064a2;
  border-radius: 4px;
}
.city-select {
  background-color: #DFD8E7;
  border-radius: 4px;
}
.city-select > p {
  color: #8064a2 !important;
}

@media screen and (max-width: 1100px) {
  .dropdown-container {
    display: grid;
    grid-template-columns: 144px 36px;
  }

  p.dropdown-value {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--Grey-Darker, #6d747a);
  }
  .heading {
    font-size: 14px;
  }

  .dropdown-container p.dropdown-value {
    color: var(--grey-dark, #939ca3);
    padding-left: 12px;
  }
  .editLocationResponsive {
    margin-left: auto;
  }
  p.dropdown-value-active {
    width: auto;
  }
}

.no-border{
  border: none !important;
}
