.dropdown-container {
  position: relative;
  padding: 0 4px;
  border-bottom: 1px solid #ced4da;
}
.dropdown-container:last-child{
  border-bottom: 0;
}
.dropdown-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.drop-down{
  display: flex;
  align-items: center;
  padding: 11px;
}
.heading {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  flex-direction: row !important;
  align-items: center;
  padding: 8px 8px;
  width: 180px;
}

.heading:hover{
  background-color: #f7f5f9;
  border-radius: 4px;
}

.heading::selection{
  color: #8064a2;
}

.heading .icon {
  transition: rotate(180deg);
  transition: 0.2s;
}
.drop-down:hover{
  border-radius: 4px;
  background-color: #f7f5f9;
}
.icon-active {
  transition: 0.2s;
  transform: rotate(180deg);
}
.dropdown-container p.dropdown-value {
  color: var(--grey-dark, #939ca3);
  padding-left: 16px;
}

.dropdown-options {
  max-height: 0;
  transition: 0.1s;
  overflow: hidden;
}
.dropdown-options.active {
  max-height: 1200px;
}
.value-container{
   padding-left: 4px;
   padding-right: 4px;
   border-bottom: 1px solid #CED4DA;
}
p.dropdown-value {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

p.dropdown-value-active{
   background-color: #f7f5f9;
   color: #8064a2 !important;
   border-radius: 4px;
   width: 218px;
}
.dropdown-options p.option-active {
  background-color: #f7f5f9;
  color: #8064a2;
  border-radius: 4px;
}

.city-select{
  background-color: #f7f5f9;
  color:#8064a2 !important
}

@media screen and (max-width: 1100px) {
  .dropdown-container{
    display: grid;
    grid-template-columns: 144px 36px;
  }

  p.dropdown-value {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--Grey-Darker, #6D747A);
  }
  .heading {
    font-size: 14px;
  }

  .dropdown-container p.dropdown-value {
    color: var(--grey-dark, #939ca3);
    padding-left: 12px;
  }
  .editLocationResponsive{
    margin-left: auto;
  }
  p.dropdown-value-active{
    width: auto;
  }
}