.hidden {
  display: none;
}
.border{
  border: 1px solid var(--Grey-Lighter, #EBEDF0);
  margin-bottom: 8px;
  /* border-radius: 8px; */
  box-sizing: content-box;
  border-top: transparent;
}
.quill {
  display: flex;
  flex-direction: column-reverse;
  /* height: 100%; */
  padding-bottom: 24px;
  flex: 1;
}
.quill > div:nth-child(2) {
  min-height: 200px;
  max-height: none;
}
.quill-has-link > div:nth-child(2) {
  border-top: 1px solid #ccc;
  max-height: 420px;
}
.quill-error {
  border: 1px solid rgba(192, 80, 77, 1);
  padding-bottom: 0;
  border-radius: 8px;
}
.error-text {
  color: rgba(192, 80, 77, 1);
  font-size: 12px;
  margin-top: 4px;
}

.imageButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display:grid !important;
  place-content: end;
  height:100%;
  position:relative;
}

.imageButton img {
  width: 18px;
  height: 18px;
  margin-bottom: -2px;
}

.imageButton::after {
  content: "Image"; /* Tooltip text */
  position: absolute;
  left: 50%; /* Position above the button */
  top: 110%;
  transform: translateX(-50%);
  background-color: #333; /* Tooltip background color */
  color: white; /* Tooltip text color */
  padding: 8px 8px 10px 8px;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap; /* Prevent text from wrapping */
  z-index:20;
  height:17px;
  background:white;
  color:#8064A2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12)
}

.imageButton:hover::after {
  opacity: 1;
  visibility: visible;
}