@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.listing-page-type {
  margin: 0 !important;
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.listing-page-type p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #0096c8;
}

.hobby-list {
  margin-top: var(--spacing-16);
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-16);
  column-gap: var(--spacing-8);
  animation: fadeDown 0.3s ease forwards;
}

.hobby-list li {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* display: flex;
       align-items: flex-end; */
  letter-spacing: -0.01em;
  color: #8064a2;
}

.hobby-list a {
  padding: var(--spacing-4) calc(var(--spacing-8) + var(--spacing-4));

  background: #f7f5f9;
  border-radius: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #8064a2;
}

.hobby-list li.active {
  color: #8064a2;
  font-weight: 500;
}

ul.location-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  animation: fadeDown 0.3s ease forwards;
}
ul.contact-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  animation: fadeDown 0.3s ease forwards;
}

ul.social-contact-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--spacing-16);
  animation: fadeDown 0.3s ease forwards;
}

ul.location-wrapper li {
  flex: 1 0 17.77%; 
  display: flex;
  gap: var(--spacing-8);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}

ul.contact-wrapper a,
ul.contact-wrapper li {
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
ul.contact-wrapper a svg,
ul.contact-wrapper li svg {
  flex-shrink: 0;
}
ul.location-wrapper svg,
ul.contact-wrapper svg {
  max-width: 1.5rem;
  width: 100%;
  aspect-ratio: 1/1;
}

/* Seller Information  */
ul.seller-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-40);
}

ul.seller-info-wrapper li {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

ul.seller-info-wrapper li p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Grey/Dark */

  color: #939ca3;
}

ul.seller-info-wrapper li svg:last-child {
  margin-left: var(--spacing-16);
}

.socialIcons {
  display: flex;
}

.socialIcons img {
  margin-right: 16px;
  cursor: pointer;
}

.textGray {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #939ca3;
  word-break: break-word;
}

.textdefault {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #08090a;
  word-break: break-word;
}

.working-hours-wrapper {
  display: flex;
  flex-direction: column;
  color: #939ca3;
  list-style: none;
  font-size: 14px;
  animation: fadeDown 0.3s ease forwards;
}
.workingHour {
  margin-bottom: 8px;
}
.workingListItem {
  display: flex;
}

.workingListItem > p {
  margin-left: 6px;
}

.page-type-container {
  /* margin-bottom: 0; */
  padding: 0;
}
.page-type-container > div {
  border-bottom: 1px solid #ebedf0;
  padding: 1rem;
}
.page-type-container:not(:last-child) {
  border-bottom: none;
}
.location-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location-heading h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.join-online{
  display: flex;
justify-content: center;
align-items: center;
gap: 4px;
}

.join-online p{
  color: var(--Purple-1, #8064A2);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 157.143% */
}

.desc{
  color: var(--Grey-Darkest, #08090A);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
margin-top: 16px;
}

.direction-container {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #8064a2;
  cursor: pointer;
}

.page-left-aside {

  position: -webkit-sticky;
  top: 215px;
  position: sticky;
  transition: 0.6s;
  height: calc(
    100vh - calc(var(--navbar-height-desktop) + var(--spacing-8)) - 10rem
  );
  overflow: auto;
}
.related {
  display: flex;
  align-items: center;
}

.related img {
  border-radius: 4px;
  object-fit: cover;
}
.item-title {
  margin-left: 10px;
  color: #08090a;
}

.related-list {
  list-style-type: none; /* This will remove the bullet points */
  padding: 0; /* This will remove any default padding */
  margin: 0; /* This will remove any default margin */
  animation: fadeDown 0.3s ease forwards;
}

/* If you only want to target the li inside .related-list */
.related-list li {
  list-style-type: none;
  margin: 10px 0 0;
}

.errorBorder {
  border: 1px solid #c0504d;
}
.error {
  border: 1px solid #c0504d;
  position: relative;
}

.display-desktop {
  display: initial;
}

.display-mobile-initial {
  display: none !important;
}

.location-map > div {
  width: 100%;
  animation: fadeDown 0.3s ease forwards;
}

.display-none {
  display: none !important;
}

.display-initial {
  display: initial !important;
}
.error-text {
  display: none;
}
.error-label {
  color: #000000;
}

@media screen and (max-width: 1100px) {
  .page-left-aside {
    position: -webkit-sticky;
    height: auto !important;
    position: static;
    transition: 0.6s;
    height: calc(
      100vh - calc(var(--navbar-height-desktop) + var(--spacing-8)) - 10rem
    );
    overflow: auto;
  }
  .display-desktop {
    display: none !important;
  }
  .display-mobile {
    display: flex !important;
  }
  .display-mobile-initial {
    display: initial !important;
  }

  .location-heading {
    margin-bottom: 0 !important;
  }
 .error::after{
    content: '';
    margin-left: 4px;
    margin-right: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    border-left: 1px solid #C0504D !important;
    border-right: 1px solid #C0504D !important;
    user-select: none;
    pointer-events: none;
  }
  .errorBorder svg path{
    fill: #C0504D;
  }
  .error svg path{
    fill: #C0504D;
  }
  .error-text {
    display: block;
    color: #C0504D !important;
  }

  .error-label::after {
    content: "*";
  }
  .error-label {
    color: #C0504D !important;
  }
  
  .absolute-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 36px;
    left: 16px;
  }
  .join-online{
    margin-right: 33px;
  }
}

@media screen and (min-width:1100px) {
  .tags-list li{
    margin: 8px 0;
  }
}

ul.contact-wrapper li.signInText{
  color: var(--Primary-Full, #8064A2);
font-family: 'Poppins';
font-size: 14px;
font-style: italic;
font-weight: 500;
line-height: normal;
cursor: pointer;
}