/* components/StatusDropdown.module.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownButton {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 8px;
    width: 80px;
  }
  
  .dropdownButton span {
    display: inline-flex;
    align-items: center;
  }
  
  .chevron {
    margin-left: auto; /* Push the chevron to the far right */
    transition: transform 0.2s ease;
  }
  
  .chevronOpen {
    transform: rotate(180deg);
  }
  
  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 0; /* Remove padding to make it flush with the button */
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    width: 140px;
  }
  
  .dropdownItem {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdownItem:hover {
    background-color: #f1f1f1;
  }
  
  .dropdownItem span {
    margin-right: 8px;
    color: var(--Grey-Darker, #6D747A);
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    }
  
  .dropdownLabel {
    margin-left: 8px; /* Add margin to the left of the label */
  }
  