.container {
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: 24px;
  width: 726px;
}

.textLight {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}

.textDark {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #08090a;
}

.clickable {
  cursor: pointer;
}

.addSectionContainer {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background: #ebedf0;
  margin-bottom: 24px;
}

.underDev {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--Red, #c0504d);
  margin-bottom: 12px;
}

.clickable {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dual-dropdown-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdownWrapper {
  width: 50%;
  padding: 4px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: flex-start;
}

.cardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 4px;
  padding: 12px 12px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.selectedCard {
  background: var(--Purple-3, #f7f5f9);
}

.addIcon {
  margin-right: 3px;
  margin-top: -1px;
  cursor: pointer;
}
.radioIcon {
  margin-right: 0px;
  margin-top: 3px;
  cursor: pointer;
}

.textColored {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #8064a2;
}

.addressLeft {
  display: flex;
  align-items: flex-start;
}

.labelText {
  margin-bottom: 4px;
  width: 30%;
}

.addressContent {
  margin-left: 12px;
}

.addressText {
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
}

.localizationContainer {
  width: 59%;
  padding: 4px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: flex-start;
}
.dropdownWrapper {
  width: 50%;
  padding: 4px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: flex-start;
}

.edit-icon-container {
  position: relative;
}

.optionsContainer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  width: 80px;
  background-color: white;
  opacity: 0;
  pointer-events: none;
}

.optionsContainer.options-active {
  opacity: 1;
  pointer-events: all;
}

.optionsContainer li {
  list-style: none;
  color: #6d747a;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}

/* .settingcontainer{
  grid-template-columns: 16rem 42rem !important;
} */

@media screen and (max-width: 1100px) {
  .container {
    width: auto;
    border-radius: none;
    overflow: hidden;
    padding: 30px 16px;
  }

  .selectedCard {
    border-radius: 8px;
    background: var(--Purple-3, #f7f5f9);
  }

  .cardContainer {
    padding: 8px 3.9px;
  }

  .textLight {
    margin-bottom: 14px;
  }

  .localizationContainer {
    width:100%;
  }
  .dropdownWrapper {
    width: 100%;
    justify-content: space-between;
  }

  .dual-dropdown-wrapper{
    flex-direction: column;
    justify-content: space-between;
  }
  
}
