.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  /* max-height: 80vh; */
}

.modal-close-icon {
  position: absolute;
  top: var(--spacing-12);
  right: var(--spacing-12);
  cursor: pointer;
  border-radius: 100%;
  padding: var(--spacing-2);
  z-index: 10;
}
.input-box-error input[type='text'] {
  border: 1px solid #c0504d !important;
}
.modal-close-icon:hover {
  background: #ddd;
}
@media screen and (min-width: 1100px) {
  .modal-wrapper {
    max-height: calc(100vh - 6rem);
    height: 100%;
  }
  .modal-wrapper .body {
    height: 100%;
    /* overflow: auto; */
  }
}
.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
}
.modal-wrapper .body {
  padding-bottom: 0;
}
.modal-wrapper .footer {
  padding: var(--spacing-16) var(--spacing-24);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  /* margin-bottom: var(--spacing-32); */
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  background: #f8f9fa;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* color: #878c90; */
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
  outline: 1px solid rgb(var(--primary-10-rgb));
}
.input-box:has(input[required]) label::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

.modal-wrapper .footer .submit {
  margin-left: auto;
}

/* Hobbies */
.add-hobbies-wrapper .info {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #6d747a;
}

.add-hobbies-wrapper .heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;

  margin-top: var(--spacing-16);
}

.add-hobbies-wrapper .add-new-hobby {
  margin-top: var(--spacing-8);
  display: flex;
  gap: var(--spacing-32);
  align-items: center;
  /* justify-content: space-between; */
}

.add-btn {
  width: 100%;
  max-width: 1.5rem;
  height: 1rem;
  border: none;

  color: var(--color);

  font-weight: 600;
  font-size: 14px;

  cursor: pointer;
  border-radius: 50%;
  margin: 5px auto 0 12px;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-wrapper .dropdown {
  width: 150%;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + var(--spacing-4));
  background: #ffffff;
  border-radius: var(--spacing-4);
  padding: var(--spacing-4);
  filter: drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36))
    drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12));
  z-index: 20;
  max-height: 200px;
  overflow: auto;
}
.dropdown-wrapper .dropdown p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.005em;

  border-radius: 4px;
  padding: var(--spacing-8);
  color: #6d747a;
  cursor: pointer;
}
.dropdown-wrapper .dropdown p:hover {
  background: #f7f5f9;
  color: #8064a2;
}

.added-hobby-list table {
  width: 100%;
}

.added-hobby-list table thead {
  background: #ebedf0;
  border: 1px solid #ced4da;
  border-radius: 8px 8px 0px 0px;
  padding: var(--spacing-12);
  display: block;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: #6d747a;
}
.added-hobby-list table thead tr {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added-hobby-list table thead tr td:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.hideActionMobile {
  position: absolute;
  right: 0;
  top: 0;
}
.added-hobby-list table tbody {
  display: inline-table;
  background: #ffffff;
  overflow: auto;
  max-height: 15.4rem;

  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 8px 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  color: #08090a;
}

.added-hobby-list table tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added-hobby-list table tbody > tr:not(:last-child) > td > div:first-child {
  background-color: rgba(247, 245, 249, 1);
  border-radius: 24px;
  color: rgba(128, 100, 162, 1);
  line-height: 18px;
  padding: 4px 12px;
}

.added-hobby-list table tbody tr:not(:last-child) > td:last-child {
  margin-right: 12px;
}
.added-hobby-list table tbody tr:last-child > td:last-child {
  position: absolute;
  right: 22px;
  top: 9px;
}
.added-hobby-list table tbody tr:last-child > td:nth-child(1) section {
  width: auto;
}
.added-hobby-list
  table
  tbody
  tr:last-child
  > td:nth-child(2)
  > div
  > div
  > div:first-child {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: 600;
  color: rgba(109, 116, 122, 1);
  font-size: 14px;
  background-color: #f7f5f9;
  border-radius: 8px;
  /* padding:5px 15px; */
}
.added-hobby-list
  table
  tbody
  tr:last-child
  > td:nth-child(2)
  > div
  > div
  > div:first-child
  > p {
  display: initial;
}
.added-hobby-list table tbody tr:last-child > td:nth-child(2) fieldset {
  border: none;
  display: flex;
  gap: 10px !important;
}

.added-hobby-list table tbody tr:last-child > td:first-child {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 80%;
}

.added-hobby-list table tbody tr {
  position: relative;
  padding: var(--spacing-8);
}
.added-hobby-list table tbody tr::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ced4da;
  bottom: 0;
  left: 0;
}
.added-hobby-list table tbody tr:last-child:after {
  display: none;
}

.added-hobby-list .delete-hobby-btn {
  cursor: pointer;
}
.helper-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #c0504d;
  margin-top: 4px;
  padding-left: 6px;
  min-height: 1rem;
}

@media screen and (max-width: 1100px) {
  .modal-wrapper {
    width: auto;
    min-height: 500px;
    border-radius: 0;
  }

  .add-hobbies-wrapper .add-new-hobby {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .add-hobbies-wrapper .add-new-hobby > section {
    width: calc(50% - 10px);
  }
  .hideActionMobile {
    display: none;
  }
  .add-btn {
    margin: auto;
  }
  .added-hobby-list table tbody {
    max-height: 15rem;
    padding: 0;
    display: inline-table;
    width: 100%;
  }

  .added-hobby-list table tbody tr:last-child > td:first-child {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
  }
  .added-hobby-list table tbody tr:last-child > td:last-child {
    position: absolute;
    right: 22px;
    top: 14px;
  }

  .modal-wrapper .footer {
    padding: var(--spacing-16) var(--spacing-16);
    position: fixed;
    width: 100%;
    bottom: 0;
    background: var(--Base-White, #fff);
    box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.06);
  }
  .modal-wrapper .header {
    padding: var(--spacing-16) var(--spacing-16);
    padding-bottom: 0;
  }
  .heading {
    font-size: 16px;
  }
  .modal-hr {
    display: none;
  }
  .modal-wrapper .body {
    padding-top: 0 !important;
    padding: var(--spacing-16) var(--spacing-16);
  }
}
