.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 40rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
}

.modal-close-icon {
  position: absolute;
  top: var(--spacing-12);
  right: var(--spacing-12);
  cursor: pointer;
  border-radius: 100%;
  padding: var(--spacing-2);
  z-index: 10;
}
.modal-close-icon:hover {
  background: #ddd;
}
.select-container .single-option .tagDesc {
  flex: 1;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #6d747a;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.select-container .single-option.selcted-option .tagDesc {
  background-color: #f7f5f9;
  color: #8064a2;
  width: 100% -10px;
  height: 100% - 8px;
  border-radius: 4px;
}

.select-container .single-option.selcted-option .tagDesc .tick-icon {
  display: inline-block;
}

.tagText,
.tagDesc {
  flex: 141px 411px;
  padding: 8px;
  position: relative;
}

.tagDesc:nth-child(2):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 60px;
  background-color: #ebedf0;
}

.tagDesc:first-child {
  max-width: 150px;
}

@media screen and (min-width: 1100px) {
  .modal-container {
    min-height: 20rem;
    /* height: calc(100vh - 2rem); */
    max-height: 60rem;
    min-width: 600px;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-32);
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .modal-wrapper {
    max-height: calc(100vh - 2rem);
  
  }
  .modal-wrapper .body {
    height: calc(100vh - 6rem);
    overflow: auto;
  }
}

.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
}
.modal-wrapper .body {
  position: relative;
  z-index: 10;
}
.modal-wrapper .footer {
  padding: 22px var(--spacing-24);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.modal-wrapper .footer .submit {
  font-family: 'poppins';
  margin-left: auto;
  border-radius: 8px;
  height: 40px;
  width: 99px;
}

.heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.body .info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  /* Grey/Darker */

  color: #6d747a;
  margin-bottom: var(--spacing-4);
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-32);
  /* position: absolute; */
  /* top: 92px; */
  width: 100%;
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  /* all: unset; */
  background: #f8f9fa;
  /* Grey/Lighter */

  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: calc(var(--spacing-8) + var(--spacing-4));

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* color: #878c90; */
  min-width: 6.25rem;
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
}
.input-box:has(input[required]) label::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

.input-box input::placeholder {
  color: var(--Grey-Dark, #939CA3);
  /* Text xs/Regular */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
}
.error {
  color: rgba(192, 80, 77, 1);
  height: 15px;
  font-size: 12px;
  margin-top: 4px;
}
/* General Profile */
.year-gender-wrapper {
  display: flex;
  justify-content: space-between;
}
.gender-radio-btns {
  display: flex;
  gap: var(--spacing-32);
  height: 100%;
}
.gender-radio-btns p {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6d747a;
  cursor: pointer;
}
.gender-radio-btns input {
  display: none;
}

.profile-url-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}
.profile-url-input p {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.profile-url-input input {
  flex-grow: 1;
}

.error-msg {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */

  margin-top: var(--spacing-4);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #c0504d;
}
.select-container ul {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6d747a;
  margin-bottom: 4px;
  border-radius: 4px;
}
.option.option-selected {
  background-color: #f7f5f9;
  color: #8064a2;
}

.select-container {
  display: block;
  position: relative;
}

.select-container .select-input {
  position: relative;
  padding: 7.5px 12px;
  border: 1px solid #bababa;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.select-input:focus-visible{
  outline: none;
  border: 1px solid #8064a2;
}

.select-input:focus-visible::before{
  content: " ";
  display: block;
  position: absolute;
  outline: 1px solid #8064a2;
  left: -1.5px;
  right: -1.5px;
  top: -1.5px;
  bottom: -1.5px;
  border-radius: 8px;
}

.select-input-error {
  border:1px solid #c0504d !important;
}
.select-container .select-input p::placeholder {
  color: #6D747A;
}

.select-container .select-input p {
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  
}
.select-container .select-input img {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.select-container .single-option {
  display: flex;
  align-items: center;
  padding: 4px;
}

.select-container .single-option .tagText {
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #6d747a;
  border-radius: 1px solid #ebedf0;
  min-width: 100px;
  padding: 8px;
}
.select-container .single-option .tagDesc {
  flex: 1;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #6d747a;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.select-container .options-container {
  max-height: 473px;
  overflow: auto;
  position: absolute;
  top: calc(100% + 4px);
  background-color: white;
  border-radius: 8px;
  width: 100%;
}

.options-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ebedf0;
  border-radius: 4px;
}

.single-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ebedf0;
}

.hovered-single-option,
.single-option:hover {
  background-color: #f7f5f9;
}

.selected-option {
  background-color: #f7f5f9;
}

.select-container .single-option.selcted-option .tagText,
.select-container .single-option.selcted-option .tagDesc {
  background-color: #f7f5f9;
  color: #8064a2;
}
.tick-icon {
  display: none;
}
.select-container .single-option.selcted-option .tagDesc .tick-icon {
  display: inline-block;
}
.selected-values {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 12px;
}
.selected-value {
  height: 30px;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  background-color: #f7f5f9;
  color: #8064a2;
  border-radius: 24px;
  column-gap: 4px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
  margin-bottom: 8px;
}
.selected-value img {
  cursor: pointer;
}

.red-error-mobile,
.desktop-hidden{
  display: none;
}

.metadata{
  display: flex;
width: 100%;
padding: 16px;
align-items: center;
gap: 16px;
background: var(--Purple-3, #F7F5F9);
max-height: 132px;
}

.metadata > div{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
}

.metadata h5{
  color: var(--Black, #000);
font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: -webkit-box;
-webkit-line-clamp: 1;
line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.metadata p{
  color: var(--Grey-Darkest, #08090A);
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
display: -webkit-box;
-webkit-line-clamp: 3;
line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.metadata img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .modal-wrapper {
    /* max-width: 1100px;
    width: 100%;
    max-height: none;
    height: 100%; */
    width: 91%;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    
    margin: -5px 0 2rem 0;
    padding: 5px 0 0 0;
  }
  .options-container{
    max-height: 340px !important;
  }
  .modal-wrapper .body {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
  }

  .modal-wrapper .header{
    padding-bottom: 0;
    padding-right: 16px;
    padding-left: 16px;
  }

  .modal-container {
    min-height: 1;
    height: 100%;
    max-height: none;
    overflow: auto;
  }

  .red-error-mobile{
    color: var(--mandatory, var(--Black, #C0504D));
display: inline;
/* Text md/Semibold */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
  }

  .body .info{
    width: 90%;
  }

  .modal-wrapper .footer {
    background: var(--Base-White, #fff);
    padding: var(--spacing-16) var(--spacing-16);
    box-shadow: 0px -6px 15px 0px rgba(0, 0, 0, 0.06);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }

  .footer button {
    border: none;
  }
  
  .select-container .single-option .tagDesc:first-of-type{
    max-width: 108px;
    height: 100%;
    max-height: max-content;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-32);
    /* position: absolute; */
    /* top: 112px; */
    width: 100%;
  }
  .modal-hr {
    display: none;
  }
  .modal-close-icon {
    position: fixed !important;
  }
  .desktop-hidden{
    display: block;
  }
}
