.navbar-wrappper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--white-rgb));
  /* padding: calc(var(--spacing-8) + var(--spacing-2)); */
  z-index: 21;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  height: var(--navbar-height-desktop);
}

.navbar-wrappper nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 34.74px;
}

.navbar-right {
  height: 100%;
}

.navbar-right>ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-24);
  list-style: none;
  height: 100%;
}

.navbar-right>ul li {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}

.navbar-right>ul li a {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  height: 100%;
}

.hobby-list-dropdown {
  z-index: 6000;
  width: 604px;
  background-color: white;
  position: absolute;
  top: 100%;
  right: -190%;
  left: auto;
  box-shadow: 0px 0px 2px rgba(147, 156, 163, 0.36),
    0px 8px 12px rgba(147, 156, 163, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding: var(--spacing-16) var(--spacing-32);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-32);
  animation: fadeDown 0.3s ease forwards;
}

.hobby-list-dropdown .list h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;

  color: #08090a;
  margin-bottom: var(--spacing-16);
}

.hobbiescategory {
  color: black !important;
}

.hobby-list-dropdown .list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.hobby-list-dropdown .list ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.005em;

  /* Grey/Darker */

  color: #6d747a;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.explore-list-dropdown {
  z-index: 6000;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  position: absolute;
  top: 100%;
  right: -110%;
  left: auto;
  box-shadow: 0px 8px 12px 0px rgba(147, 156, 163, 0.12), 0px 0px 2px 0px rgba(147, 156, 163, 0.36);
  animation: fadeDown 0.3s ease forwards;
}

.explore-list-dropdown .list {
  display: flex;
  padding: 12px 61px 12px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--White, #FFF);
  border-bottom: 1px solid #CED4DA;
  width: 100%;
  justify-content: flex-start;
}

.navbar-right>ul .explore-list-dropdown h4 a {
  color: var(--Grey-Darker, #6D747A) !important;
  white-space: nowrap;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: 0.07px;
}

.user-menu {
  height: 100%;
}

.user-menu .img {
  width: 48px;
  height: auto;
  border-radius: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #8064a2;
}

.user-menu-dropdown {
  z-index: 6000;
  width: 220px;
  background-color: white;
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  box-shadow: 0px 0px 2px rgba(147, 156, 163, 0.36),
    0px 8px 12px rgba(147, 156, 163, 0.12);
  border-radius: 0px 0px 4px 4px;
  animation: fadeDown 0.3s ease forwards;
}

.user-menu-dropdown section.general-info {
  padding: var(--spacing-12);
}

.user-menu-dropdown .profile-name {
  display: flex;
  gap: var(--spacing-12);
  align-items: center;
  margin-bottom: var(--spacing-12);
}

.user-menu-dropdown .profile-name h4 {
  color: var(--Grey-Darkest, #08090A);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: 0.07px;
  display: -webkit-box;
  /* For iOS and Safari */
  -webkit-line-clamp: 2;
  /* Limit the number of lines */
  -webkit-box-orient: vertical;
  /* Set the orientation to vertical */
  overflow: hidden;
}

.user-menu-dropdown .profile-name .img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  flex-shrink: 0;
}

.user-menu-dropdown .profile-name p {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #08090a;
}

.user-menu-dropdown .view-profile-btn {
  background: #ffffff;
  border: 1px solid #8064a2;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #8064a2;
  width: 100%;
  padding: var(--spacing-4);
  cursor: pointer;
}

.user-menu-dropdown section.account,
.user-menu-dropdown section.manage {
  padding: var(--spacing-12);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.user-menu-dropdown section.account h5,
.user-menu-dropdown section.manage h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;

  color: #08090a;
}

.user-menu-dropdown section.account p,
.user-menu-dropdown section.manage p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #6d747a;
  cursor: pointer;
}

.user-menu-dropdown .add-listing {
  padding: var(--spacing-12);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #8064a2;
  letter-spacing: 0.07px;
}

.user-menu-dropdown span.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: #ebedf0;
}

.navbar-backdrop {
  /* display: none; */
  opacity: 0.5;
  position: fixed;
  top: var(--navbar-height-desktop);
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 5;
}

/* .inputField {
  width: 400px;
} */
.inputField::placeholder {
  font-family: 'Poppins';
  font-weight: 300;
  color: #939ca3;
}

.search-cross-icon{
  position: absolute;
  left: -26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

.navbar-wrappper input {
  font-family: 'poppins';
  background-color: #ebedf0;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.textSmall {
  font-size: 14px;
}

.inputField input {
  background: #f8f9fa;
  outline: none;
  padding-right: 20px;
}

.inputField>div:hover {
  outline: 1px solid #8064A2;
}

.inputField>div:hover>fieldset {
  display: none;
}

.navbar-right>ul.right-listing-small {
  display: none;
}

.logo-small {
  display: none;
}

.navbar-left>a {
  display: flex;
}

.search-icon-container {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: block;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
  z-index: 1000;
  background: var(--Base-White, #fff);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 8px var(--spacing-16);
}

.responsive-logo {
  display: block;
  width: 32px;
  height: 32px;
}

.modal-heading {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.logo-full-responsive {
  display: none;
}
.logo-small-responsive {
  display: none;
}

@media screen and (max-width: 1100px) {
.search-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background: #8064A2;
  position: absolute;
  right: 16px;
  top: 24px;
  border: none;
  outline: none;
}

.search-cross-icon{
  width: 20px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 64px;
  left: auto;
  top: 24px;
  border: none;
  outline: none;
}
  .navbar-wrappper {
    position: sticky;
  }

  .navbar-left .inputField {
    display: none;
  }

  .navbar-left .pos-relative-z-2{
    position: relative;
    z-index: 2;
  }

  .logo-full {
    display: none;
  }

  .logo-full-responsive {
    display: initial;
    width: 156.404px;
    height: 32px;
    flex-shrink: 0;
  }

  .logo-small {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
.logo-small-responsive {
  display: inline-block;
  width: 32px;
  height: 32px;
}
  

  .right-listing-expanded {
    display: none !important;
  }

  .navbar-right>ul.right-listing-small {
    display: flex;
  }

  .right-listing-small li {
    list-style: none;
    column-gap: 8px;
  }

  .right-listing-small li img {
    cursor: pointer;
  }

  .navbar-wrappper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .inputField {
  
    width: 100%;
  }

  .inputField input {
    height: 24px;
    padding: 8px 12px;
    padding-right: 72px;
  }

  .inputField input::-webkit-search-cancel-button {
    display: none;
  }


  .mobile-search-input-visible {
    opacity: 1;
    /* transform: translateY(0); */
  }

  .left-0{
    left: 0;
    position: absolute;
    width: calc(100% - 176px);
  }

  .mobile-search-input-visible {
    position: fixed !important;
    inset: 0 !important;
    z-index: 10000;
    backdrop-filter: blur(3px);
    background: #00000099;
  }

  .mobile-search-container {
    display: flex;
    padding: 24px 16px 28px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 0px 0px 16px 16px;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
    position: relative;
  }

  .topbar-search-box {
    display: flex;
    max-width: 800px;
    padding: 6px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Primary-Full, #8064A2);
    background: var(--Grey-Hover, #F8F9FA);

    color: var(--Grey-Darkest, #08090A);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    /* 133.333% */

    position: absolute;
    left: 63px;
  }

  .topbar-search-box input {
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
  }

  .topbar-search-box img {
    width: 16px;
    height: 16px;
  }
  .search-cross-icon-inside {
    align-items: center;
    display: flex;
  }
}

.d-none{
  display: none !important;
}