.navigation-tabs {
  display: flex;
  gap: 20px;
  justify-content: start;

  margin: 14px 0 0 24.05%;
  position: -webkit-sticky;
  position: sticky;
  min-height: 40px;
}
.navigation-tabs a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #939ca3;
  padding: 10px 5px;
  position: relative;
  min-width: 90px;
  text-align: center;
}
.navigation-tabs a:hover {
  color: #8064a2;
}
.navigation-tabs a.active {
  color: #8064a2;
  font-weight: 600;
}
.navigation-tabs a.active::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #8064a2;
  border-radius: 2px 2px 0px 0px;
}
.nav-mobile {
  display: none;
}

.display-mobile {
  display: none !important;
}
.display-flex-mobile {
  display: none !important;
}

.rotate-180 {
  transform: rotate(180deg) scale(1.5);
}
.rotate-0 {
  transform: rotate(0deg) scale(1.5);
}

.expand-all {
  display: none;
  color: #8064a2;
  width: 27%;
}
.expand-all > img {
  aspect-ratio: 1;
}
.expand-all > p {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-left: auto;
}
.listing-page-type-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13px;
  align-items: center;
  padding: var(--spacing-8) var(--spacing-16);
  border-radius: 8px;
  border: 1px solid #ebedf0;
  max-width: 100%;
  width: 100%;
}

.listing-page-type-wrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.listing-page-type-wrapper > div > p {
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
}

.peopleColor {
  color: #8064a2;
}
.placeColor {
  color: #77933c;
}
.programColor {
  color: #0096c8;
}

.ProductColor {
  color: #c0504d !important;
}

.expand-all-page-type-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 12px 16px;
}


.about-text {
  margin: 0;
}

.about-text ol,
.about-text ul {
  padding-left: 1rem;
}

.textGray {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #939ca3;
  margin: 8px 0;
}
.disabledtab {
  cursor: default;
}

.event-tab {
  position: relative;
}

.event-count {
  display: flex;
  min-width: 19px;
  padding: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  border-radius: 2px;
  background: var(--Primary-Full, #8064a2);
  color: var(--background-white, #fff);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 109.091% */
  outline: none;
  border: none;
  right: 4px;
  top: -2px;
}
.eventBadge {
  display: flex;
  width: 15px;
  height: 15px;
  padding: 2px;
  flex-direction: column;

  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  color: #ffff;
  font-size: 10px;
  background: var(--Primary-Full, #8064a2);
}

@media screen and (max-width: 1100px) {
  .other-data-wrapper-mobile {
    display: flex !important;
    flex-direction: column;
    margin: 16px 0 0 0;
  }

  .expand-all-page-type-wrapper {
    margin-bottom: 12px;
  }
  .gapabovehome {
    height: 8px;
    background-color: #ebedf0;
  }
  .nav {
    display: none;
  }
  .nav-mobile {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 2px 0 0px rgba(0, 0, 0, 0.08);
  }
  .navigation-tabs {
    gap: 16px;
    justify-content: flex-start;
    min-height: auto;
    overflow-x: auto;
    width: 100%;
    flex-shrink: 0;
    padding: 0 16px;
    padding-left: 16px;
  }
  .navigation-tabs > a {
    flex-shrink: 0;
  }
  .navigation-tabs a {
    min-width: 50px;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 0;
  }

  .display-mobile {
    display: initial !important;
  }
  .display-flex-mobile {
    display: flex !important;
    flex: 1;
  }
  .display-mobile-main {
    min-height: 90vh;
  }
  .listing-page-type-wrapper {
    justify-content: flex-start;
  }

  .expand-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    min-width: fit-content;
    margin-left: auto;
  }
  .about-text > p {
    padding: 10px 0 0 0;
  }
  .mobile-mt-0 {
    margin-top: 0;
  }

  .event-count {
    color: var(--background-white, #fff);
    font-family: 'Inter';
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    display: flex;
    min-width: 15px;
    height: 15px;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    right: -8px;
    top: 0;
  }
  .navigation-tabs {
    margin-left: 0;
    margin-top: 0;
  }
}
.customSnackbar {
  border-radius: 8px;
  border: 1px solid var(--red-lighter, #ffbec0);
}
.customSnackbarContent {
  background-color: #ffd6e0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.customSnackbarContent .message {
  display: flex;
  align-items: center;
  color: var(--grey-darker, #6d747a);
  font-weight: 500;
  margin-right: 12px;
}

.customSnackbarContent .CloseIcon {
  color: #6d747a;
}

@media screen and (max-width: 400px) {
  .listing-page-type-wrapper {
    gap: 5px;
    width: 100%;
    padding: var(--spacing-8);
  }
  .listing-page-type-wrapper > div {
    gap: 8px;
  }
}
