.container {
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 0px 0px 8px 8px;
  padding: 3rem;
}

.textLight {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}

.textDark {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #08090a;
}

.clickable {
  cursor: pointer;
}

.title {
  margin-bottom: 24px;
}

.line {
  width: 100%;
  height: 1px;
  background: #ebedf0;
  margin-bottom: 24px;
}

.viewOptionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.select {
  padding: 8px 12px;
  background: #f7f5f9;
  border-radius: 8px;
  border: none;
  color: #6d747a;
}

.select:active,
.select:focus {
  border: none;
}

.option {
  background-color: white;
}

.option:hover {
  background-color: white;
  padding: 6px 2px;
}
.notifyEditContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.emailUpdates {
  margin-top: 40px;
}

.settingcontainer{
  grid-template-columns: 16rem 42rem !important;
}