.profile-left-aside {
  position: -webkit-sticky;

  position: sticky;
  transition: 0.6s;
  height: calc(
    100vh - calc(var(--navbar-height-desktop) + var(--spacing-24)) + 3rem
  );
  overflow: auto;
}

.hobbies-side-wrapper {
  margin-bottom: var(--spacing-12);
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--navbar-height-desktop) + var(--spacing-12));
}
.hobbies-side-wrapper header {
  padding: var(--spacing-16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #08090a;
}
.filters-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.filter-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-item:hover {
  background-color: #dfd8e7;
}
.filter-sidebar {
  color: var(--grey-darkest, #08090a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  flex-shrink: 0;
  margin: 40px 0 15px 23px;
}

.heading {
  color: var(--Purple-1, #8064a2);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.pageGridSearch {
  grid-template-columns: 14.3rem auto 18.3rem !important;
}

.filter-item img {
  margin-right: 16px;
}
.user-section {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.user-section h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.peopleItemsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--grey-lighter, #ebedf0);
  background: #fff;
  margin-bottom: 12px;
}

.peopleItem {
  display: flex;
  width: 100%;
  padding: 13px 24px;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--grey-light, #ced4da);
  align-items: center;
  cursor: pointer;
}

.userAvatar {
  width: 64px;
  height: 64px;
  border-radius: 50% #8064a2;
  border: 50%;
  color: white;
}

.hobbyAvtar {
  /* width: 64px;
  height: 64px; */
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-div {
  width: 59.81px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8064a2;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hobbyAvtar img {
  object-fit: contain;
  width: 55.42px;
  height: 64px;
  position: relative;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));
  background-color: white;
}

.img-polygon {
  width: 58px;
  height: 64px;
}

.polygonOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.view-more-btn-container {
  padding: var(--spacing-16) var(--spacing-24);
}

.img {
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
  border: 1px solid #8064a2;
}

.people-img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  border: 1px solid #8064a2;
}
.avatarImage {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #8064a2;
  object-fit: cover;
}

.peopleavatarImage {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  border: 1px solid #8064a2;
  object-fit: contain;
}

.userDetails {
  flex-grow: 1;
}

.userName {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  font-family: 'poppins';
}

.userTagline {
  max-width: 600px;
  font-size: 14px;
  color: #666;
  margin: 5px 0;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.userLocation {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 14px;
  color: #666;
}

.hobbydescription {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 590px;
}

.view-more-btn {
  background-color: white;
  color: #8064a2;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 600;
  border: 1px solid var(--Purple-1, #8064a2);
}

.view-more-btn:hover {
  background-color: #8064a2;
  color: white;
  transition: 0.3s;
}

.resultHeading {
  display: flex;
  width: 100%;
  padding: 13px 24px;
  align-items: center;
  gap: 10px;
  color: var(--Black, #000);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border-bottom: 1px solid var(--grey-light, #ced4da);
}

.explore-sidebar button {
  max-width: 1100px !important;
  border: none;
  background-color: white;
  border: 1px solid #8064a2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #8064a2;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.no-results-wrapper {
  background-color: #ffffff;
  border: 2px solid rgb(242, 242, 242);
  padding: 32px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.imageDiv {
  width: 175px;
  height: 118.37px;
  overflow: hidden;
}
.imageDiv img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.main h1 {
  color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.main p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  color: #6d747a;
}

.main span {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #6d747a;
}

.wrapperFooter {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.wrapperFooter p {
  color: #6d747a;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.wrapperFooter button {
  width: 80px;
  height: 32px;
  border-radius: 6px;
  border: 0.67px solid #8064a2;
  color: #8064a2;
  background-color: transparent;
  cursor: pointer;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 10.72px;
}

.wrapperFooter button:hover {
  opacity: 0.9;
}

.filterParent {
  height: 62px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px -8px 12px rgba(147, 156, 163, 0.12),
    0px 8px 12px rgba(147, 156, 163, 0.12);
}

.inputDiv {
  position: relative;
}

.inputDiv svg:nth-child(1) {
  position: absolute;
  left: 0;
  top: 7px;
}

.inputDiv svg:nth-last-child(1) {
  position: absolute;
  right: 0;
  top: 7px;
}

.filter input {
  border: none;
  outline: none;
  border-bottom: 2px solid #ebedf0;
  padding-left: 20px;
  height: 32px;
  display: flex;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6d747a;
}

/* .no-results-wrapper p{
  font-size: 14px;
  font-weight: 500;
  color: #6d747a;
}

.no-results-wrapper p a{
  color: #8064a2;
  opacity: 0.85;
}

.no-results-wrapper p a:hover{
  opacity: 1;
} */

.menuItemContent {
  gap: 16px;
  display: flex;
  align-items: center;
}

.loaders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aside-two {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.interestDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15.5px;
  /* padding: 16px; */
  border-radius: 8px;
}

.interestDiv h1 {
  color: #08090a;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.005em;
  padding: 15px 16px;
}

.interestDiv .mainContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.memberParent {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.member {
  display: flex;
  width: 100%;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
}

.member .img-name {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.member .img-name img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #8064a2;
}

.img-name-listing {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  cursor: pointer;
}

.img-name-listing img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #8064a2;
  object-fit: contain;
}

.img-name-listing p {
  color: var(--Grey-Darker, #08090a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.defaultImg {
  max-width: 32px;
  min-width: 32px;
  width: 100%;
  height: 32px;
  object-fit: contain;
  border-radius: 8px;
  border: 1px solid rgb(var(--primary-50-rgb));
}

.see-all {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  margin-bottom: 8px;
}

.see-all p {
  color: var(--Primary-Full, #8064a2);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
}

.hobbySuggestion {
  position: relative;
}
.categorySuggestion {
  position: relative;
  margin-top: -12px;
  width: 160px;
}
.hobbySearch {
  margin-top: -12px;
  width: 160px;
}

.dropdownHobby {
  top: 34px;
  max-width: 210px;
  width: 100%;
  position: absolute;
  max-height: 280px;
  overflow-y: auto;
  left: 0;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: var(--spacing-4);
  padding: var(--spacing-4);
  filter: drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36))
    drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12));
  z-index: 500;
}

.dropdownHobby p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;
  border-radius: 4px;
  padding: var(--spacing-8);
  color: #6d747a;
  cursor: pointer;
  text-align: left;
}

.dropdownHobby p:hover {
  background: #f7f5f9;
  color: #8064a2;
}

.dropdownHobby,
.dropdownHobby p {
  box-sizing: border-box;
}
.inputsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.dropdown-option-focus {
  background: #f7f5f9;
  color: #8064a2;
}
.searchIcon {
  position: absolute;
  margin-top: 10px;
}
.searchIconCategory {
  position: absolute;
  margin-top: 22px;
}

.dropdown {
  top: 46px;
  width: 360px;
  position: absolute;
  max-height: 280px;
  overflow-y: auto;
  left: -30px;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: var(--spacing-4);
  padding: var(--spacing-4);
  filter: drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36))
    drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12));
  z-index: 500;
}

.dropdown p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;
  border-radius: 4px;
  padding: var(--spacing-8);
  color: #6d747a;
  cursor: pointer;
  text-align: left;
}

.dropdown p:hover {
  background: #f7f5f9;
  color: #8064a2;
}

.dropdown,
.dropdown p {
  box-sizing: border-box;
}

.no-results-wrapper button:focus {
  outline: 1px solid #8064a2;
  border: 1px solid white;
}

.no-results-wrapper .wrapperFooter button:focus {
  outline: 2px solid #8064a2;
}

.no-results-wrapper input {
  font-family: Poppins;
}

.explore-sidebar button:focus {
  outline: 2px solid #8064a2;
}

@media screen and (max-width: 1100px) {
  .member {
    padding-inline: 0;
  }

  .interestDiv h1 {
    padding-inline: 0;
  }

  .doubleArrowDown {
    rotate: -180deg;
    transition: all 0.5s;
  }
  .doubleArrowUp {
    rotate: 0;
    transition: all 0.5s;
  }

  .visible {
    height: fit-content;
    transition: height 0.3s ease-in-out;
  }
  .not-visible {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .no-results-wrapper {
    padding: 16px 0 0 0;
    gap: 16px;
    padding-bottom: 72.7px;
    margin: 0;
    border-radius: 0;
  }

  .imageDiv {
    width: 229.6px;
    height: 155.3px;
  }

  .main {
    max-width: 100%;
    gap: 17px;
  }

  .main h1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding-inline: 16px;
  }

  .main p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding-inline: 16px;
  }

  .wrapperFooter {
    gap: 20px;
    padding-inline: 16px;
  }

  .wrapperFooter p {
    text-align: left;
  }

  .profile-left-aside {
    order: 0;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .search-result {
    order: 2;
  }

  .aside-two {
    height: auto;
    background: #fff;
    margin: 0 0 12px;
    padding: 0 16px 16px;
    order: 1;
  }

  .filterParent {
    padding: 15px 16px;
    height: auto;
  }

  .profile-left-aside {
    height: auto;
    background: #fff;
    padding: 16px;
  }

  .filterDropdown {
    width: 100%;
    height: 44px;
    padding: 12px 0;
    border-radius: 8px;
    background: var(--bg-rgb);
    border: 1px solid var(--border-rgb);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  .peopleItemsContainer {
    width: 100%;
  }
  .userSection {
    width: 100%;
  }
  .view-more-btn-container {
    padding: var(--spacing-16) var(--spacing-16);
  }

  .view-more-btn {
    width: 100%;
  }

  .peopleItem {
    padding: 8px 16px 8px 16px;
  }
  .userTagline {
    font-size: 12px;
  }
  .userLocation {
    font-size: 12px;
  }
  .hobbydescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 9rem);
  }
  .hobbySuggestion {
    width: 100%;
  }
  .categorySuggestion {
    width: 100%;
  }
  .hobbySearch {
    width: 100%;
  }
  .dropdownHobby {
    left: 0;
    position: absolute;
    top: 30px;
    z-index: 10;
  }
  .dropdownHobby p {
    text-align: left;
  }
  .inputsContainer {
    width: 100%;
    padding-inline: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* .locationHiddenMobile {
    display: none;
  } */
  .dropdown {
    width: 180px;
    left: -16px;
    position: absolute;
    top: 30px;
    z-index: 500;
  }
  .dropdown p {
    text-align: left;
  }
}
