.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .modal-wrapper {
    max-height: calc(100vh - 6rem);
    height: 100%;
  }
  .modal-wrapper .body {
    height: 100%;
    
  }
}
.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
}
.modal-wrapper .footer {
  padding: var(--spacing-16) var(--spacing-24);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.modal-wrapper .footer .submit {
  margin-left: auto;
}

.heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-32);
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  /* all: unset; */
  background: #f8f9fa;
  /* Grey/Lighter */

  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: calc(var(--spacing-8) + var(--spacing-4));

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* color: #878c90; */
  min-width: 6.25rem;
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
}
.input-box:has(input[required]) label::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

/* General Profile */
.year-gender-wrapper {
  display: flex;
  justify-content: space-between;
}
.gender-radio-btns {
  display: flex;
  gap: var(--spacing-32);
  height: 100%;
}
.gender-radio-btns p {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6d747a;
  cursor: pointer;
}
.gender-radio-btns input {
  display: none;
}

.profile-url-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}
.profile-url-input p {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.profile-url-input input {
  flex-grow: 1;
}

.error-msg {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */

  margin-top: var(--spacing-4);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #c0504d;
}
.tagContainer {
  display: flex;
  font-size: 16px;
}
.tagText {
  width: 100px;
  margin-right: 10px;
  font-size: 12px;
  font-family: "Poppins";
}

.added-hobby-list table {
  width: 100%;
}

.added-hobby-list table thead {
  background: #ebedf0;
  border: 1px solid #ced4da;
  border-radius: 8px 8px 0px 0px;
  padding: var(--spacing-12);
  display: block;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: #6d747a;
}
.added-hobby-list table tbody {
  display: block;
  background: #ffffff;

  max-height: 18rem;

  padding: 0 var(--spacing-12);
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 8px 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  overflow-y: auto;
  /* identical to box height, or 157% */

  /* Grey/Darkest */

  color: #08090a;
}

.added-hobby-list table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.added-hobby-list table tr td:nth-child(1) {
  flex: 0 1 440px;
}
.added-hobby-list table tr td:nth-child(2) {
  flex: 0 1 130px;
}
.added-hobby-list table tr td:nth-child(3) {
  flex: 0 1 120px;
}
.added-hobby-list table tr td:nth-child(4) {
  flex: 0 1 40px;
}

.added-hobby-list table tbody tr {
  position: relative;
  padding: var(--spacing-8) 0;
}
.added-hobby-list table tbody tr::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ced4da;
  bottom: 0;
}
.added-hobby-list table tbody tr:last-child:after {
  display: none;
}

.added-hobby-list .delete-hobby-btn {
  cursor: pointer;
}

.dropdown-warpper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  align-items: end;
}

.dropdown-warpper .dropdown {
  width: 100%;
  position: absolute;
  z-index: 10;
  height: 15rem;
  flex: 1;
  left: 0;
  right: 0;
  top: calc(100% + var(--spacing-4));
  background: #ffffff;
  border-radius: var(--spacing-4);
  padding: var(--spacing-4);
  filter: drop-shadow(0px 0px 2px rgba(147, 156, 163, 0.36))
    drop-shadow(0px 8px 12px rgba(147, 156, 163, 0.12));
  z-index:20;
  overflow-y: auto;
}
.dropdown-warpper .dropdown p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.005em;

  border-radius: 4px;
  padding: var(--spacing-8);
  color: #6d747a;
  cursor: pointer;
}
.dropdown-warpper .dropdown p:hover {
  background: #f7f5f9;
  color: #8064a2;
}
.dropdown-input-box{
  margin-bottom: 0;
  margin-right: 8px;
}
.dropdownItem{
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 4px;
  transition: 0.2s;
  
  
}
.dropdownItem:hover{
  background: #f7f5f9;
  color: #8064a2;
}
.add-btn{
  --color: rgb(var(--white-rgb));
  --bg-color: rgb(var(--primary-100-rgb));

  width: 100%;
  max-width: 77px;
  height: var(--spacing-40);

  border-radius: 8px;
  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid rgb(var(--primary-100-rgb));

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.selected-values {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 12px;
}

.selected-value {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  background-color: #f7f5f9;
  color: #8064a2;
  border-radius: 24px;
  column-gap: 4px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
  margin-bottom: 8px;
}

.selected-value img{
  cursor: pointer;
}

.select-relation{
  max-width: 172px;
  border-radius: 8px;
  color: var(--grey-darker, #6D747A);

  border: 1px solid var(--grey-lighter, #EBEDF0);
  background: var(--Grey-Hover, #F8F9FA);
  width: 100%;
}

.helper-text{
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #c0504d;
  margin-top: 4px;
  padding-left: 6px;
  min-height: 1rem;
}
@media screen and (max-width: 1100px) {
  .modal-wrapper {
    width: auto;
    height: 100%;
  }
  .modal-wrapper .body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
