/* Header */
.header {
  margin: auto;
  display: grid;
  grid-template-columns: 160px auto 160px;
  gap: 24px;
  align-items: flex-end;
  padding-top: 12px;
}

.profile-img-wrapper {
  position: relative;
}

.flex-col-4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.profile-img-wrapper-small {
  position: relative;
  height: 60px;
  width: 60px;
}

.profile-img-wrapper-small-header {
  width: 60px;
  height: 60px;
}
.profile-img-wrapper .img {
  width: 160px;
  height: 160px;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));
  border-radius: var(--spacing-8);
  object-fit: cover;
  border: 2px solid rgb(var(--primary-100-rgb));
  background-color: rgb(var(--gray-50-rgb), 0.2);
}

.profile-img-wrapper .edit-btn {
  cursor: pointer;
  position: absolute;
  bottom: var(--spacing-4);
  right: var(--spacing-8);

  /* background: #d9d9d9;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 6px; */
}

.center-container .cover-img-wrapper {
  position: relative;
  max-height: 310px;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 3 / 1;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}
.center-container .cover-img-wrapper .img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  border-radius: 8px;
  object-fit: contain;
  background-color: rgb(var(--gray-50-rgb), 0.2);
}

.center-container .cover-img-wrapper .edit-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: var(--spacing-8);
}

.center-container .name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  display: flex;
  align-items: center;
}
.center-container .name img {
  margin-left: 6px;
  cursor: pointer;
}
.center-container .tagline {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #08090a;
  margin-top: var(--spacing-12);
}
.center-container .category {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #08090a;
  margin-top: var(--spacing-8);
}

.action-btn-wrapper {
  width: 160px;
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.action-btn-wrapper .action-btn {
  background: #f7f5f9;
  border-radius: 8px;
  width: 48px;
  height: 40px;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
}

.action-btn:hover {
  background-color: #ccc1da;
  transition: 0.3s;
}

.action-dropdown {
  background: #f7f5f9;
  border-radius: 8px;
  width: 48px;
  height: 40px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.action-btn-dropdown-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 460px;
  z-index: 100;
  /* Dropdown */
  box-shadow: 0px 8px 12px 0px rgba(147, 156, 163, 0.12),
    0px 0px 2px 0px rgba(147, 156, 163, 0.36);
  border-radius: 4px;
  overflow: hidden;
}
.customList {
  list-style: none;
  background: #ffffff;
  min-width: 90px;
}

.customList li {
  width: 90px;
  height: 42px;
  color: #6d747a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.07px;
  padding: 12px;
  transition: 0.3s;
}
.customList li:hover {
  background-color: #e5e5e5;
}
.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  align-items: flex-end;
}

.hide {
  display: none !important;
}

.rotate {
  display: flex;
  align-items: flex-end;
  rotate: 180deg;
}

.eventDate-parent {
  position: relative;
  min-height: 30px;
  min-width: 100px;
}

.event-dates {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.eventDate {
  display: flex;

  margin-bottom: 10px;
}
.event-date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.eventDate p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6d747a;
}
.eventDate img {
  margin-right: 6px;
}
.eventDate .date {
  margin-right: 17px;
}
.eventDate .time {
  margin-right: 14px;
}
.edit-field-wrapper {
  padding-top: 12px;
  display: flex;
  gap: 12px;
}
.default-text {
  color: #939ca3;
}
.required-asterisk {
  color: red;
}

.error-red {
  color: #c0504d !important;
}

.contactBtn {
  font-size: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 50px;
  height: 32px;
  width: 157px !important;
  display: flex;
  gap: 8px;
  align-items: center;
}

.contactBtn p {
  min-width: max-content;
}

.contactBtnpublic {
  font-size: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 0 50px;
  height: 32px;
  width: 157px !important;
}
.relative {
  position: relative;
  width: fit-content;
}

.flex-col-start {
  display: flex;
}

.profile-img-wrapper .name-container,
.profile-img-wrapper .tagline {
  display: none;
}

/* Apply styles when page is scrolled and `small` class is added to `container` */
.container:has(.header).small {
  background-color: white;
  position: fixed;
  top: var(--navbar-height-desktop);
  left: 0;
  right: 0;
  z-index: 5;
  /* transform: translateY(-100%); */
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  opacity: 1;
  /* animation: scroll-in 200ms ease-in-out forwards; */
}
.container:has(.header).small .header {
  grid-template-columns: 60px auto max-content;
  gap: var(--spacing-8);
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ebedf0;
}
.container:has(.header).small .profile-img-wrapper .edit-btn {
  display: none;
}
.container:has(.header).small .profile-img-wrapper .img {
  width: 60px;
  height: 60px;
}
.container:has(.header).small .center-container .cover-img-wrapper {
  display: none;
}
.container:has(.header).small .center-container .name {
  font-size: 1rem;
  margin-top: 0;
}
.container:has(.header).small .center-container .tagline {
  font-size: 14px;
  margin-top: 0;
}
.container:has(.header).small .action-btn-wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
  width: auto;
  height: auto;
  background-color: transparent;

  box-shadow: none;
}
.container:has(.header).small .navigation-tabs {
  display: flex;

  gap: 20px;
  justify-content: flex-start;
  margin: 4px 0 0 23.96%;
  position: sticky;
  min-height: 40px;
}

.container:has(.header).small .navigation-tabs a {
  color: #939ca3;
  line-height: 22px;
  padding: 8px 5px;
  font-weight: 600;
}
.navigation-tabs {
  display: flex;
  justify-content: center;
}
.navigation-tabs a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6d747a;
  padding: 8px 5px;
  position: relative;
  min-width: 90px;
  text-align: center;
}
.navigation-tabs a:hover {
  color: #8064a2;
}
.navigation-tabs a.active {
  color: #8064a2 !important;
  font-weight: 600;
}
.navigation-tabs a.active::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #8064a2;
  border-radius: 2px 2px 0px 0px;
}
.disabledtab {
  cursor: default;
}

.product-header {
  align-items: flex-start;
  grid-template-columns: 88px auto 160px;
}

.product-header > :nth-child(4) {
  margin-top: auto;
}

.item-view {
  border: 1px solid #8064a2 !important;
}

.item {
  width: 472px;
  height: 472px;
  display: flex;
  padding: 21px 9.5px 21px 9.5px;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed var(--Primary-Full, #8064a2);
  background: var(--Purple-3, #f7f5f9);
  cursor: pointer;
  position: relative;
}

.active-image {
  object-fit: contain;
  border-radius: 8px;
  width: 472px;
  height: 472px;
  border: 1px solid #8064a2;
}

.item p {
  color: var(--Purple-1, #8064a2);
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 166.667% */
}
.product-header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-name-container {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  width: 500px;
}

.product-name-container .name {
  color: #08090a;
  font-size: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  display: flex;
  gap: 8px;
}
.product-name-container .tagline {
  padding-top: 12px;
  font-size: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.item .hidden {
  opacity: 0;
  inset: 0;
  z-index: 2;
  position: absolute;
  display: block;
  cursor: pointer;
}

.videos {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.varient-price-container {
  margin-top: auto;
}

.varientpirce {
  color: var(--Grey-Darkest, #08090a);
  font-family: 'poppins';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.price-and-qunaitity {
  display: grid;
  row-gap: 16px;
  column-gap: 78px;
  grid-template-columns: 1fr 1fr;
}
.price-and-qunaitity label {
  display: flex;
  align-items: end;
  color: var(--Grey-Darkest, #08090a);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Primary-Full, #8064a2);
  width: 85px;
}

.quantity p {
  /* color: var(--Grey-Darkest, #08090A); */
  text-align: center;

  /* Text sm/Medium */
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.quantity button {
  outline: none;
  cursor: pointer;
}

.quantity button:first-of-type {
  border: none;
  border-radius: 4px 0px 0px 4px;

  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity button:last-of-type {
  border: none;
  border-radius: 0px 4px 4px 0px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .product-name-container {
    display: block;
    padding-left: 0;
  }
  .edit-field-wrapper {
    padding-top: 0px;
    display: flex;
    gap: 12px;
  }
  .price-and-qunaitity {
    column-gap: 20px;
  }
  .nav {
    display: flex;

    padding: 0 14px;
  }
  .navigation-tabs {
    gap: 8px;
    overflow-x: auto;
    flex-shrink: 0;
    justify-content: flex-start;
  }
  .navigation-tabs > a {
    flex-shrink: 0;
  }
  .navigation-tabs a {
    min-width: 6px;
    font-size: 12px;
  }

  .eventDate-parent {
    margin-top: 5px;
  }

  .eventDate .date {
    margin-right: 10px;
    min-width: max-content;
  }
}
.publishBtn {
  width: 100%;
  margin-bottom: 12px;
  line-height: 16px;
  padding: 12px 24px;
}

.unpublishBtn {
  background-color: white;
  border: 1px solid #7f63a1;
  color: #7f63a1;
  width: 100%;
  margin-bottom: 12px;
  line-height: 16px;
  padding: 12px 24px;
}

.unpublishBtn:hover {
  color: white;
}

.actions-container-mobile {
  display: none;
}
.event-date-container-responsive {
  display: none;
}
.cta-product-btn {
  padding-top: 36px;
}

@media screen and (max-width: 1100px) {
  .display-desktop {
    display: none;
  }
  .actions-container-desktop {
    display: none;
  }
  .actions-container-mobile {
    display: flex;
    flex-direction: column;
    margin: 6px 0 2px 0;
  }
  .publish-btn-container {
    padding: 0 16px;
  }

  .action-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 0 8px 0;
    padding: 5.6px 16px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  }

  .contactBtn {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 0;
    padding: 0px 12px;
    height: 40px;
  }
  .name-container .name {
    font-weight: 600;
  }

  .header {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 9px;
  }
  .profile-img-wrapper .name-container,
  .profile-img-wrapper .tagline {
    display: block;
  }
  .profile-img-wrapper .tagline {
    font-size: 14px;
  }
  .center-container .name-container {
    display: none;
  }
  /* .center-container .tagline {
    display: none;
  } */
  .header .center-container {
    order: 1;
  }
  .header .profile-img-wrapper {
    order: 2;
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .profile-img-wrapper .img {
    width: 3.75rem;
    height: 3.75rem;
  }
  .profile-img-wrapper .edit-btn > svg {
    width: 20px;
    height: 20px;
    display: flex;
  }
  .container:has(.header).small {
    display: none;
  }
  .content-container {
    margin: 0;
  }
  .contactBtn {
    width: 96px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactBtnpublic {
    width: 96px !important;
    padding: 0 12px;
    height: 40px;
  }
  .time span {
    color: #8064a2;
  }
  .eventDate-parent {
    min-width: 91vw;
  }
  .eventDate {
    max-height: 22px;
    overflow: clip;
  }
  .event-date-container {
    display: none;
  }
  .event-date-container-responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 24px;
    z-index: 1;
    order: 3;
  }
}

/* Desktop only */
@media screen and (min-width: 1100px) {
  .eventDate-parent {
    min-width: 413px;
    /* max-width: 413px; */
  }
  .eventDate {
    position: absolute;
    padding-top: 2px;
    z-index: 1;
    background: white;
    height: max-content;
    right: 0;
    padding: 0 0 0 5px;
    border-radius: 8px;
    left: auto !important;
    max-height: 18px;
    overflow: clip;
  }
  .eventDateSmall {
    position: relative;
  }

  .eventDate .date,
  .eventDate .time {
    min-width: max-content;
  }

  .eventDate p {
    min-width: max-content;
  }
}

.eventDate-open {
  box-shadow: 0px 8px 12px 0px rgba(147, 156, 163, 0.12),
    0px 0px 2px 0px rgba(147, 156, 163, 0.36);
  padding-top: 2px;
  max-height: unset;
  background: white;
}
.event-tab {
  position: relative;
}

.event-count {
  display: flex;
  min-width: 19px;
  padding: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  border-radius: 2px;
  background: var(--Primary-Full, #8064a2);
  color: var(--background-white, #fff);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 109.091% */
  outline: none;
  border: none;
  right: 4px;
  top: -2px;
}

.purpleText {
  color: #8064a2;
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
