.container {
  padding: 40px 0px;
  margin: 0 9.5rem;
}
.wrapper {
  display: flex;
  align-items: stretch;
  max-width: 1220px;
  margin: 0 auto;
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  /* flex: 4; */
  padding-right: 13.19vw;
  gap: 13.19vw;
}

.contentWrapper>div{
  width: max-content;
}

.listContainer {
  /* margin-right: 120px; */
  font-size: 14px;
}
.listContainer li {
  list-style: none;
}
.listHeading {
  font-weight: 600;
  margin-bottom: 1rem;
}
.listItem {
  color: #08090a;
  margin-bottom: 0.5rem;
}
.iconsContainer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  padding-top: 0;
  column-gap: 15px;
}
.iconsContainer img {
  cursor: pointer;
}
.rightSection {
  flex: 2;
}
.rightSection .listHeading {
  font-size: 16px;
}
.inviteContainer {
  margin-top: 2rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-32);
  position: relative;
  overflow: hidden;
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  /* all: unset; */
  background: #fff;
  /* Grey/Lighter */

  border: 1px solid #8064a2;
  border-radius: 8px;
  padding: calc(var(--spacing-8) + var(--spacing-4));
  padding-right: 70px;
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* color: #878c90; */
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid #8064a2;
}

.bottombar {
  background: #f7f5f9;
  padding: 30px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #08090a;
}
.button {
  background: #8064a2;
  position: absolute;
  right: 0;
  height: 100%;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 0 12px;
  box-shadow: none;
  border: 0;
  outline: 0;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}
.chevron-down {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .rightSection .listHeading {
    font-size: 14px;
  }
  .rotate-180{
    transform: rotate(180deg);
  }
  .wrapper {
    display: grid;
    align-items: center;
    margin: unset;
  }
  .chevron-down {
    display: initial !important;
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 5;
    padding-right: 0;
    margin: 0 0 32px 0;
    gap: 0;
  }
  .container{
    padding: 16px 0 0 0;
    margin: 0 ;
  }
  .contentWrapper > div {
    width: 100%;
    margin: 16px 0;
  }
  .contentWrapper > div > div > p {
    font-size: 14px;
  }
  .contentWrapper > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .iconsContainer {
    display: flex;
    align-items: center;
    padding: 20px 0;
    padding-top: 0;
    column-gap: 18px;
  }

  .wrapper {
    padding: 0 30px;
    display: grid;
    align-items: center;
  }
  .listItem {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5%;
    color: rgba(109, 116, 122, 1);
    margin: 8px 0;
  }
  .listHeading {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 700;
  }
  .listContainerExapnd {
    display: flex !important;
    flex-direction: column;
    position: relative;
    align-items: start;
    margin: 16px 0 0 0;
    list-style: none;
  }
  .listContainer {
    display: none;
  }
  .socialIcons {
    width: 24px;
    height: 24px;

  }

  .rightSection .listHeading{
    margin: 0 0 12px 0;
  } 

  .bottombar{
    padding: 11px;
    color: var(--Grey-Darkest, #08090A);
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
letter-spacing: 0.06px;
  }
}


@media screen and (min-width:1440px) {
  .contentWrapper{
    padding-right: 190px;
    gap: 190px;
  }
}