/* styles.module.css */

/* Container styles */
.searchContainer {
  padding: 20px;
}

.admintitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Search form styles */
.searchForm {
  display: flex;
  margin-bottom: 20px;
}

.searchInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}

/* Results table styles */
.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable th,
.resultsTable td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.resultsTable th {
  background-color: #f5f5f5;
}

/* Avatar styles */
.avatarImage {
  border-radius: 50%;
}



/* User details container styles */
.resultItem {
  display: flex;
  align-items: center;
}

.avatarContainer {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 400;
}

/* Login types cell styles */
.LoginType {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  width: 220px; /* Fixed width for the Login Types column */
}


.lastLoggedIn {
  width: 180px; /* Fixed width for the Last LoggedIn by column */
}

/* Responsive styles (optional) */
@media (max-width: 768px) {
  .searchForm {
    flex-direction: column;
  }

  .searchInput {
    margin-bottom: 10px;
  }
}
