.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
}

  .modal-wrapper{
    max-height: calc(100vh - 6rem);

  }
  .modal-wrapper .body {
    height: 100%;
    overflow: auto;
    max-height: max-content;
  }

.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
}
.modal-wrapper .footer {
  padding: var(--spacing-16) var(--spacing-24);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.modal-wrapper .footer .submit {
  margin-left: auto;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-24);
}
.heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-32);
  position: relative;
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.input-box input[type='text'] {
  width: 100%;
  background: #f8f9fa;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: calc(var(--spacing-8) + var(--spacing-4));
  font-weight: 400;
  font-size: 12px;
  min-width: 6.25rem;
  line-height: 22px;
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
}
.input-box:has(input[required]) label.label-required::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

.input-box .helper-text {
  position: absolute;
  top: calc(100% + var(--spacing-4));
  left: 0;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #c0504d;
}

.input-box-error textarea {
  border: 1px solid #c0504d !important;
}

/* General Profile */
.year-gender-wrapper {
  display: flex;
  justify-content: space-between;
}
.gender-radio-btns {
  display: flex;
  gap: var(--spacing-32);
  height: 100%;
}
.gender-radio-btns p {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6d747a;
  cursor: pointer;
}
.gender-radio-btns input {
  display: none;
}

.profile-url-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}
.profile-url-input p {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.profile-url-input input {
  flex-grow: 1;
}
.street-input-container{
  position: relative;
}
.street-input-container span{
  position: absolute;
  top: 11px;
  left: var(--spacing-12);
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #6d747a;
}
.locationImg{
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.input-box-error input{
  border: 1px solid #c0504d !important;
}

.footer button{
  background-color: #8064A2;
}

.footer button{
  color: white;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-24);
}

.long-input-box{
  display: flex;
  width: 100%;
  background: #f8f9fa;
  border: 1px solid #ebedf0;
  border-radius: 8px;
  height: 92px;
  padding: 12px;
  align-items: flex-start;
  resize: none;
  gap: 10px;
  flex-shrink: 0;
  font-weight: 400;
  font-size: 12px;
  min-width: 6.25rem;
  line-height: 22px;
}

.long-input-box:focus-within{
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
}

.phone-prefix-input {
  display: flex;
  height: 2.7rem;
  outline: none !important;
}

.phone-input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.country-select {
  border-right: 5px solid rgba(235, 237, 240, 1) !important;
  padding: 0 0 0 5px;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgba(235, 237, 240, 1);
  cursor: pointer;
}


@media screen and (max-width: 1100px) {
  .modal-wrapper {
    width: auto;
    height: 100%;
    border-radius: 0;
  }
  .modal-wrapper .body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-hr{
    display: none;
  }
}
