.container {
  background-color: #f2f0f5;
  padding: 12px;
  min-height: 77vh;
}
.gridContainer {
  margin: 0 auto;
  max-width: 1296px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 12px;
  column-gap: 24px;
  background-color: #f2f0f5;
}

@media (max-width: 1100px) {
  .container {
    background-color: #ebedf0;
    padding: 8px 0 50px 0;
  }
  .gridContainer {
    row-gap: 8px;
    background-color: #ebedf0;
    grid-template-columns: repeat(1, 1fr);
  }
}
