.button {
  background-color: rgb(var(--primary-100-rgb));
  font-size: 14px;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #624e83 !important;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button:focus-visible{
  border: 1px solid #ffffff;
  outline: 1px solid rgb(var(--primary-100-rgb));
}