.button {
  background-color: #7f63a1;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #624e83;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
