ul.location-wrapper,
ul.contact-wrapper {
  margin-top: var(--spacing-16);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

.contact-wrapper li{
   list-style: none;
   cursor: pointer;
}