.container {
  background: #f8f9fa;
  min-height: 100vh;
  padding: var(--spacing-24);
}

.grid-container {
  display: grid;
  align-items: start;
  gap: var(--spacing-24);
}
.grid-container[data-column='3'] {
  grid-template-columns: 14.3rem auto 18.3rem;
}
.grid-container[data-column='2'] {
  grid-template-columns: 14rem auto;
}
