.print {
  background-color: white !important;
}

.container {
  background: #f2f0f5;
  min-height: 100vh;
  padding: var(--spacing-24);
  padding-top: var(--spacing-12);
}

.minheight100vh {
  min-height: 100vh;
}

.grid-container {
  display: grid;
  align-items: start;
  gap: var(--spacing-24);
  width: fit-content;
}
.grid-container[data-column='3'] {
  /* grid-template-columns: 14.3rem auto 18.3rem; */
  grid-template-columns: 229px 671px 292px !important;
}
.grid-container[data-column='2'] {
  /* grid-template-columns: 14.3rem auto; */
  grid-template-columns: 229px 987px !important;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    width: auto;
  }
  .grid-container[data-column='3'],
  .grid-container[data-column='2'] {
    grid-template-columns: 100% !important;
  }
  .container {
    background: #ebedf0;
    min-height: 0;
    padding: 0 0 0 0;
    /* min-height: 90vh; */
  }
  .no-gap {
    padding: 0px 0 0 0 !important;
  }

  .grid-container {
    gap: 0;
  }
  .minheight100vh {
    min-height: 0 !important;
  }
}
