.container {
  background: #f8f9fa;
  min-height: 100vh;
  padding: var(--spacing-24);
  padding-top: var(--spacing-12);

}

.grid-container {
  display: grid;
  align-items: start;
  gap: var(--spacing-24);
}
.grid-container[data-column='3'] {
  grid-template-columns: 14.3rem auto 18.3rem;
}
.grid-container[data-column='2'] {
  grid-template-columns: 14.3rem auto;
}

@media screen and (max-width: 1100px) {
  .grid-container[data-column='3'] ,
  .grid-container[data-column='2'] {
    grid-template-columns: 1fr !important;
  }
  .container {
    background: #f8f9fa;
    min-height: 100vh;
    padding: 8px 16px 8px 16px;
  }

  .grid-container {
    gap: 0;
  }
}
