.modal-wrapper {
  background-color: white;
  border-radius: var(--spacing-8);
  max-width: 50rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
}

.selcted-option{
  background-color: #f7f5f9;
  color: #8064a2;
  display: inline-block;
}
.selected-values {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 12px;
}
.selected-value {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  background-color: #f7f5f9;
  color: #8064a2;
  border-radius: 24px;
  column-gap: 4px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}
@media screen and (min-width: 1100px) {
  .modal-wrapper {
    max-height: calc(100vh - 6rem);
    height: 100%;
  }
  .modal-wrapper .body {
    height: 100%;
  }
}
.modal-wrapper .header,
.modal-wrapper .body {
  padding: var(--spacing-16) var(--spacing-24);
}
.modal-wrapper .footer {
  padding: var(--spacing-16) var(--spacing-24);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.modal-wrapper .footer .submit {
  margin-left: auto;
}

.heading {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #000000;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-32);
}
.input-box label {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
  margin-bottom: 4px;
}
.input-box input[type='text'] {
  width: 100%;
  /* all: unset; */
  background: #f8f9fa;
  /* Grey/Lighter */

  border: 1px solid #ebedf0;
  border-radius: 8px;
  padding: calc(var(--spacing-8) + var(--spacing-4));

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* color: #878c90; */
  min-width: 6.25rem;
}
.input-box input[type='text']:focus-within {
  outline: none;
  border: 1px solid rgb(var(--primary-50-rgb));
}
.input-box:has(input[required]) label::after {
  content: '*';
  color: rgba(192, 80, 77, 1);
}

/* General Profile */
.year-gender-wrapper {
  display: flex;
  justify-content: space-between;
}
.gender-radio-btns {
  display: flex;
  gap: var(--spacing-32);
  height: 100%;
}
.gender-radio-btns p {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6d747a;
  cursor: pointer;
}
.gender-radio-btns input {
  display: none;
}

.profile-url-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}
.profile-url-input p {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #6d747a;
}
.profile-url-input input {
  flex-grow: 1;
}

.error-msg {
  /* font-family: 'Poppins'; */
  /* font-style: normal; */

  margin-top: var(--spacing-4);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #c0504d;
}
.tagContainer {
  display: flex;
  font-size: 12px;
}
.tagText {
  width: 100px;
  margin-right: 10px;
}

.select-container {
  display: block;
  position: relative;
}

.select-container .select-input {
  position: relative;
  padding: 7.5px 12px;
  border: 1px solid #bababa;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.select-container .select-input p {
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #939ca3;
}
.select-container .select-input img {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.select-container .single-option {
  display: flex;
  align-items: center;
  padding: 4px;
}

.select-container .single-option .tagText {
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #6d747a;
  border-radius: 1px solid #ebedf0;
  min-width: 100px;
  padding: 8px;
}
.select-container .single-option .tagDesc {
  flex: 1;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #6d747a;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.select-container .options-container {
  max-height: 200px;
  overflow: auto;
  position: absolute;
  top: calc(100% + 4px);
  background-color: white;
  border-radius: 8px;
  width: 100%;
}
.select-container .single-option.selcted-option .tagText,
.select-container .single-option.selcted-option .tagDesc {
  background-color: #f7f5f9;
  color: #8064a2;
}
.tick-icon{
  display: none;
}
.select-container .single-option.selcted-option .tagDesc .tick-icon{
  display: inline-block;
}
@media screen and (max-width: 1100px) {
  .modal-wrapper {
    width: auto;
    height: 100%;
  }
  .modal-wrapper .body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
