.select {
  background: #f7f5f9;
  border-radius: 8px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  color: #6d747a;
}

.select:active,
.select:focus {
  outline: none;
}

.option:hover {
  background-color: white;
  padding: 6px 2px;
}
