.select {
  padding: 8px 12px;
  background: #f7f5f9;
  border-radius: 8px;
  border: none;
  color: #6d747a;
}

.select:active,
.select:focus {
  border: none;
}

.option {
  background-color: white;
}

.option:hover {
  background-color: white;
  padding: 6px 2px;
}
